
<div class="scrollhid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
    <div class="row"  style="padding-top:5px;">
    
      <div class="container">
        <div class="jumbotron jumbotron-fluid" style="background-color:0077B5;color:white;padding-top:20px;padding-bottom:1%;margin-left:5px;margin-right:1%;margin-bottom:1%;">
        
                      
            <form style="margin-bottom:1px;">
                <div class="row" *ngFor="let tryitem of navigat;let i=index">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <label for="room">Balance</label>
                      <div class="form-group">            
                        <input type="text"  name="balance1" class="form-control input-sm" style="height:27px;width:70%;" [(ngModel)]="tryitem.res_guest_balance" disabled>
                      </div>
                     
                  </div>
                
                <div class="col-md-2">
                <label for="name">Arrival</label>
                <div class="form-group">          
                  <input type="text" name="bilar" class="form-control input-sm" style="height:27px;width: 70%;" [(ngModel)]="tryitem.res_arrival" disabled>
                </div>
              </div>
      
              <div class="col-md-2">
                  <label for="group">Company</label>
                <div class="form-group">
                  
                  <input type="text" name="bilcmpny" class="form-control input-sm" style="height:27px;width: 70%;" disabled>
                </div>
              </div>
               
              <div class="col-md-2">
                  <label for="group">Rate code</label>
                <div class="form-group">
                  
                  <input type="text" class="form-control input-sm" name="bilrtcd" style="height:27px;width: 70%;" [(ngModel)]="tryitem.res_rate_code" disabled>
                </div>
              </div>
      
              <div class="col-md-2">
                  <label for="company">Prs</label>
                 <div class="form-group">
                 
                  <input type="text" class="form-control input-sm" name="bilper" style="height:27px;width:70%;" [(ngModel)]="tryitem.res_adults" disabled>
                </div>
              </div>
      
              <div class="col-md-1"></div>
      
              </div>
      
               <div class="row" *ngFor="let secondatmpt of navigat;let i=index">
                <div class="col-md-1"></div>
                
                <div class="col-md-2">
                    <label for="room">Status</label>
                <div class="form-group">
                  <input type="text" name="bilstat" class="form-control input-sm" style="height:27px;width:70%;" [(ngModel)]="secondatmpt.res_guest_status" disabled>
                </div>
              </div>
                
              <div class="col-md-2">
                  <label for="name">Departure</label>
                <div class="form-group">            
                  <input type="text" name="bildep" class="form-control input-sm" style="width:70%;height:27px;" [(ngModel)]="secondatmpt.res_depature" disabled>
                </div>
              </div>
      
              <div class="col-md-2">
                  <label for="group">Group</label>
                <div class="form-group">           
                  <input type="text" name="bilgrp" class="form-control input-sm" style="height:27px;width:70%;" disabled>
                </div>
              </div>
               
              <div class="col-md-2">
                  <label for="group">Rate</label>
                <div class="form-group">           
                  <input type="text" name="bilrat" class="form-control input-sm" style="height:27px;width:70%;" [(ngModel)]="secondatmpt.res_rate" disabled>
                </div>
              </div>
      
              <div class="col-md-2">
                  <label for="company">Room Type</label>
                 <div class="form-group">            
                  <input type="text" name="bilrmtyp" class="form-control input-sm" style="height:27px;width:70%;" [(ngModel)]="secondatmpt.res_room_type" disabled> 
                </div>
              </div>
      
                <div class="col-md-1"></div>
      
               </div>
               
              </form>
        </div>
        </div>
      </div>
  <br>
  
  <div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="scrollable3">
         <table class="table table-bordered table-hover">
          <thead style="background-color:#0077B5;color:white;font-size:14px;">
            <tr>
              <th>Posting_Date</th>
              <th>Code</th>
              <th>Description</th>
              <th>Amount</th>
              <th>ChequeNumber</th>
              <th>Quantity</th>           
              <th>Supplement</th>
              <th>Reference</th>
               
            </tr>
          </thead>
          <tbody style="font-size:small;">
            <contextmenu #contextmenu style="width:70%;">
              <div class="dropdown open">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" data-toggle="modal" href="#transfertransaction">Transfer Transaction</a><br>
                  <a class="dropdown-item" data-toggle="dropdown" href="dropdown-toggle">Transfer to another window</a><br>
                  
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                  </div>
                                  
                </div>
              </div>
            </contextmenu>
            
            <tr *ngFor="let item of vaal1; let i=index" (click)="selectMembersEditt(item,i)" 
            [ngClass]="{'backGroundColor':i==selectindexx}"  [contextmenu]="[contextmenu, {item: item}]" >
             
              <td >{{item.posting_date}}</td>
              <td >{{item.posting_code}}</td>
              <td >{{item.posting_code_description}}</td>           
              <td>{{item.posting_amount}}</td>
              <td>{{item.checkno}}</td>
              <td>{{item.posting_quantity}}</td>
              <td>{{item.posting_supplement }}</td>
              <td>{{item.posting_reference }}</td>

              
            </tr>
              
                
          </tbody>
         </table>
       </div>
      </div> 
    </div>

    <div class="col-md-6">
        <div class="container" style="width:95%;margin-left:-30px;">
        <div class="scrollable3">
         <table class="table table-bordered table-hover">
          <thead style="background-color:#0077B5;color:white;font-size:14px;">
            <tr>
              <th>Posting_Date</th>
              <th>Code</th>
              <th>Description</th>
              <th>Amount</th>
              <th>ChequeNumber</th>
              <th>Quantity</th>           
              <th>Supplement</th>
              <th>Reference</th>
               
            </tr>
          </thead>
          <tbody style="font-size:small;">
            <contextmenu #contextmenu style="width:70%;">
              <div class="dropdown open">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" data-toggle="modal" href="#transfertransaction">Transfer Transaction</a><br>
                  <a class="dropdown-item" data-toggle="dropdown" href="dropdown-toggle">Transfer to another window</a><br>
                  
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                  </div>
                                  
                </div>
              </div>
            </contextmenu>
            
            <tr *ngFor="let itemm of vaal2; let i=index" (click)="vaalvaalfunc(itemm,i)" 
            [ngClass]="{'backGroundColor':i==sidx}"  [contextmenu]="[contextmenu, {itemm: itemm}]" >
             
              <td >{{itemm.posting_date}}</td>
              <td >{{itemm.posting_code}}</td>
              <td >{{itemm.posting_code_description}}</td>           
              <td>{{itemm.posting_amount}}</td>
              <td>{{itemm.checkno}}</td>
              <td>{{itemm.posting_quantity}}</td>
              <td>{{itemm.posting_supplement }}</td>
              <td>{{itemm.posting_reference }}</td>
            </tr>     
          </tbody>
         </table>
       </div>
      </div> 
    </div>
  </div>
    
      
  </div>
  <br>
  <div class="row">
    
  <form class="form-inline">
  
    <div class="row">
      
      <button type="button" id="post" class="btn btn-success" style="width:110px;margin-left:5%;" data-target="#postoption" data-toggle="modal"><b>post</b></button>
                
      <button type="button" class="btn btn-default" style="width:110px;margin-left:2%;"  data-target="#editmodal" data-toggle="modal"><b>Edit</b></button>

      <button type="button" class="btn btn-info" style="width:110px;margin-left:2%;" ><b>Folio</b></button>

      <button type="button" class="btn btn-warning" style="width:110px;margin-left:2%;" data-target="#postinghistory" data-toggle="modal"><b>History</b></button>
  
      <button type="button" class="btn btn-secondary" style="width:110px;margin-left:2%;" data-toggle="modal" data-target="#myModal2"><b>Payment</b></button>
  
      <button type="button" class="btn btn-primary" style="width:110px;margin-left:2%;"><b>Settlement</b></button>

      <button type="button" class="btn btn-info" style="width:110px;margin-left:2%;" data-toggle="modal" data-target="#reinstatemodal" ><b>Reinstate</b></button>
      
      <button type="button" class="btn btn-danger" style="width:110px;margin-left:2%;" routerLink="/inhousecashering"><b>Close</b></button>
        
    </div>
  
  </form>
  
    
</div>
    </div>
    </div>
  </div>
   
  <!-- *********************************************************************************************************** -->
            
        <!--  post option Modal -->
  
  <div class="modal fade" id="postoption" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  
                      </button>
                       <h3 class="modal-title" id="myModalLabel"><b>Modal title</b></h3>
  
                  </div>
                  <div class="modal-body">
                      <div class="table-responsive">
                      
                        <table class="table table-striped table-bordered">
                          <thead>
                              <tr>
                                  <th>Code</th>
                                  <th>Name</th>
                                  <th>Price</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let field of fieldArray; let i = index">
                                  <td>
                                      <input [(ngModel)]="field.code" class="form-control" type="text"  />
                                  </td>
                                  <td>
                                      <input [(ngModel)]="field.name" class="form-control" type="text">
                                  </td>
                                  <td>
                                      <input [(ngModel)]="field.price" class="form-control" type="text">
                                  </td>
                                  <!-- <td>
                                      <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                                  </td> -->
                              </tr>
                              <tr>
                                  <!-- <td>
                                      <input class="form-control" type="text"  [(ngModel)]="newAttribute.code" />
                                  </td>
                                  <td>
                                      <input class="form-control" type="text"  [(ngModel)]="newAttribute.name"  />
                                  </td>
                                  <td>
                                      <input class="form-control" type="text"  [(ngModel)]="newAttribute.price" />
                                  </td> -->
                                  <td>
                                      <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
        <!--posting history modal  -->

        <div class="modal fade" id="postinghistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      
                          </button>
                           <h3 class="modal-title" id="myModalLabel"><b>Posting History</b></h3>
      
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                              <div class="scrollable2">
                              <div class="table-responsive">
                                <table class="table table-bordered  table-hover"  style="font-size:12px;">        
                                    <thead style="background-color:#0077B5;color:white;">
                                      <tr>
                                        <th scope="col">Action</th>
                                        <th scope="col">Revenue Date</th>
                                        <th scope="col">posting code</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Reason</th>
                                        <th scope="col">Description</th>
                                      </tr>
                                    </thead>
                                    <tbody *ngFor="let firstitem of house">
                                      <tr>
                                        <th scope="row">{{firstitem?.posting_action}}</th>
                                        
                                        <td>{{firstitem?.revenue_date}}</td>
                                        <td>{{firstitem?.posting_date}}</td>
                                        <td>{{firstitem?.user_role}}</td>
                                        <td>{{firstitem?.user_name}}</td>
                                        <td>{{firstitem?.posting_reason}}</td>
                                        <td>{{firstitem?.posting_description}}</td>                                        
                                      </tr>

                                    </tbody>
                                  </table>
                                  </div>
                                  </div>
                                  </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="container-fluid">
                                  <b>Original</b>
                                  <div class="scrollable2">
                                  <div class="table-responsive" style="min-height:101.01%;">
                                    <table class="table table-bordered table-hover"  style="font-size:12px;">
                                      <thead style="background-color:#0077B5;color:white;">
                                        <tr>
                                          <th scope="col">Action</th>
                                          <th scope="col">Revenue_Date</th>
                                          <th scope="col">posting_code</th>
                                          <th scope="col">User</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Reason</th>
                                          <th scope="col">Description</th>
                                        </tr>
                                      </thead>
                                      <tbody *ngFor="let hisitem of hist">
                                        <tr>
                                          <th scope="row">{{hisitem?.posting_action}}</th>
                                          
                                          <td>{{hisitem?.revenue_date}}</td>
                                          <td>{{hisitem?.posting_date}}</td>
                                          <td>{{hisitem?.user_role}}</td>
                                          <td>{{hisitem?.user_name}}</td>
                                          <td>{{hisitem?.posting_reason}}</td>
                                          <td>{{hisitem?.posting_description}}</td>                                        
                                        </tr>
                                      
                                      </tbody>
                                    </table>
                                    </div>
                                    </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="container-fluid">
                                      <b>Changes</b>
                                      <div class="scrollable2">
                                      <div class="table-responsive" style="min-height:101.01%;">
                                        <table class="table table-bordered table-hover"  style="font-size:12px;">
                                          <thead style="background-color:#0077B5;color:white;">
                                            <tr>
                                              <th scope="col">Action</th>
                                              <th scope="col">Revenue_Date</th>
                                              <th scope="col">posting_code</th>
                                              <th scope="col">User</th>
                                              <th scope="col">Name</th>
                                              <th scope="col">Reason</th>
                                              <th scope="col">Description</th>
                                            </tr>
                                          </thead>
                                          <tbody *ngFor="let postitem of home">
                                            <tr>
                                              <th scope="row">{{postitem?.posting_action}}</th>
                                              
                                              <td>{{postitem?.revenue_date}}</td>
                                              <td>{{postitem?.posting_date}}</td>
                                              <td>{{postitem?.user_role}}</td>
                                              <td>{{postitem?.user_name}}</td>
                                              <td>{{postitem?.posting_reason}}</td>
                                              <td>{{postitem?.posting_description}}</td>                                        
                                            </tr>
                                          
                                          </tbody>
                                        </table>
                                      </div>
                                      </div>
                                    </div>  
                          </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          
                      </div>
                  </div>
             
          </div>
      </div>
          
        <!--  Edit Modal -->
        <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header" style="background: #0077B5;color: white;">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        
                            </button>
                             <h4 class="modal-title" id="myModalLabel"><b>Edit Transaction Details</b></h4>
        
                        </div>
                        <div class="modal-body">
                          <div class="row" >
                          <form id="editform">
  
                              <div class="row">
                                  <div class="col-sm-6">
                                <div class="form-group">
                                  <div class="col-sm-6">
                                      <b>Room</b>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="editroom" class="form-control" [(ngModel)]="room" disabled>
                                      </div>
                              </div>
                              </div>
                              </div>
  
                              <div class="row" style="margin-top:5px;">
                                  <div class="col-sm-6">
                                  <div class="form-group">
                                  <div class="col-sm-6">
                                      <b>Name</b>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="editname" class="form-control" [(ngModel)]="name" disabled>
                                      </div>
                              </div>
                              </div>
                            </div>
                              <hr>
  
                              <div class="row">
                                  <div class="col-sm-6">
                                  <div class="form-group">
                                  <div class="col-sm-6">
                                      <b>Code</b>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="editcode" class="form-control" [(ngModel)]="poscd" disabled> 
                                      </div>
                                      </div>
                              </div>
                            </div>
                              <hr>
                                  <div class="row">
                                    <div class="col-md-6">
                                  <div class="form-group">
                                  <div class="col-sm-6">
                                      <b>Amount</b>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text"  name="editamount" class="form-control" [(ngModel)]="amt">
                                      </div>
                                      </div>
                           
                  
                                <div class="form-group">
                                <div class="col-sm-6" style="padding-top:5px;">
                                    <b>Quantity</b>
                                  </div>
                                  <div class="col-sm-6" style="padding-top:5px;">
                                      <input type="text" class="form-control" name="quantityy" [(ngModel)]="quant">
                                  </div>
                                </div>
                        
  
  
                              <!-- <div class="form-group">
                              <div class="col-sm-6" style="padding-top:5px;">
                                  <b>Amount</b>
                                </div>
                                <div class="col-sm-6" style="padding-top:5px;">
                                    <input type="text" name="editamount" class="form-control" [(ngModel)]="amount"  disabled>
                                </div>
                                </div> -->
                              </div>
  
                              <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <textarea style="margin-left:4%;" class="form-control" name="txtarea" rows="5" id="comment" disabled >USD</textarea>
                                    </div>
                                 </div>
                                </div>
                              </div><hr>
  
                      <div class="row">
                          
                          <div class="col-md-6">
                              <div class="form-group">
                                    <div class="col-sm-6">
                                      <b>Cashier</b>
                                    </div>
                                    <div class="col-sm-6" >
                                      <input type="text" name="editcash" class="form-control" disabled>
                                    </div>
                              </div>
                                
                                    
                                       
                                          
                                      <div class="form-group">
                                        <div class="col-sm-6" style="padding-top:5px;">
                                          <b>Folio.No</b>
                                        </div>
                                        <div class="col-sm-6" style="padding-top:5px;">
                                          <input type="text" name="editfolio" class="form-control" disabled>
                                        </div>
                                  </div>
  
                          
                                         
                                         
                          </div>
  
                          
                          <div class="col-md-6">
                              <div class="form-group">
                                <div class="col-md-4" style="margin-left:5%;">
                                  <label>Arr.code</label>
                                </div> 
                         
                                <div class="col-md-6">
                                  <select style="width:70%;height:100%;" name="arrcode" class="form-control" [(ngModel)]="ed_arcode">
                                      <option value="101">101</option>
                                      <option value="102">102</option>
                                      <option value="103">103</option>
                                      <option value="104">104</option>
                                    </select>
                                </div>
                              </div>
                            </div>
                           </div>
                      <hr>
  
                      <div class="row">
                          <div class="col-sm-6">
                        <div class="form-group">
                          <div class="col-sm-6">
                              <b>Posting Date</b>
                            </div>
                            <div class="col-sm-6">
                                <input type="date" name="editpostdat" class="form-control" style="width:160px;" [(ngModel)]="posdt" disabled>
                              </div>
                      </div>
                      </div>
                      </div>
  
                      <div class="row" style="padding-top:5px;">
                          <div class="col-sm-6">
                        <div class="form-group">
                          <div class="col-sm-6">
                              <b>Revenue Date</b>
                            </div>
                            <div class="col-sm-6">
                                <input type="date" name="editrevendat" class="form-control" style="width:160px;" disabled>
                              </div>
                      </div>
                      </div>
                      </div>
  <hr>
  <div class="row">
      <div class="col-sm-6">
    <div class="form-group">
      <div class="col-sm-6">
          <b>Article</b>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="article" style="width:260px;" disabled>
          </div>
  </div>
  </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="col-sm-6" style="padding-top:5px;">
          <b>Credit Card No.</b>
        </div>
        <div class="col-sm-6" style="padding-top:5px;">
            <input type="text" name="editcredit" class="form-control" [(ngModel)]="creditcd" disabled>
        </div>
        <br>
      </div>           
    </div>
  
    <div class="col-md-6">
      <div class="form-group">
        <div class="col-md-4" style="padding-top:5px;">
          <label>Exp.Date</label>
        </div> 
     
        <div class="col-md-6" style="padding-top:5px;">
          <input type="text" name="editexpdate" class="form-control" [(ngModel)]="creditexpdt" disabled>
        </div>
      </div>
    </div>
  </div>
    
       <div class="row" style="padding-top:5px;">
          <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-6">
              <b>Supplement</b>
            </div>
            <div class="col-sm-6">
                <input type="text" name="editsupple" class="form-control" style="width:260px;" [(ngModel)]="supple">
              </div>
      </div>
      </div>
      </div>
  
      <div class="row" style="padding-top:5px;">
          <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-6">
              <b>Reference</b>
            </div>
            <div class="col-sm-6">
                <input type="text" name="editreference" class="form-control" style="width:260px;"  [(ngModel)]="ref">
              </div>
      </div>
      </div>
      </div>
  
  
  
  <div class="row" style="padding-top:5px;">
      <div class="col-md-6">
          <div class="form-group">
          <div class="col-sm-6">
              <b>Cheque No.</b>
            </div>
            <div class="col-sm-6">
                <input type="text"name="editcheque" class="form-control" [(ngModel)]="cqno">
            </div>
            
           
            </div>
                     
                     
      </div>
  
     
      <div class="col-md-6">
          <div class="form-group">
            <div class="col-md-3">
              <label>Covers</label>
            </div> 
     
            <div class="col-md-6">
                <input type="text" name="editcovers" class="form-control">
            </div>
          </div>
        </div>
      </div>
                      
      <div class="row">
        <div class="col-md-6">
          
        </div>
      </div>

    </form>
  </div>
</div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="editbilling(amt,quan,ed_arcode,supple,ref,cqno)">OK</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              
          </div>
      </div>
  </div>
  </div>
</div>
  
          <!--Reinstate modal-->
  
          <div class="modal fade" id="reinstatemodal" role="dialog">
              <div class="vertical-alignment-helper">  
            <div class="modal-dialog vertical-align-center modal-sm">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b>Confirm Reinstate</b></h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure want to reinstate? </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>
            </div>
  
  <div class="modal fade" id="transfertransaction" role="dialog">
      <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>RESLU - Transfer Type</b></h4>
        </div>
        <div class="modal-body">
         <div class="row">
           <div class="col-sm-6">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <form>
                          <div class="radio" style="margin-left:15px;">
                            <label><input type="radio" name="optradio"><b>Transfer To another Room</b></label>
                          </div>
                          <div class="radio" style="margin-left:15px;">
                            <label><input type="radio" name="optradio"><b>Transfer From another Room</b></label>
                          </div>
                          <div class="radio" style="margin-left:15px;">
                            <label><input type="radio" name="optradio"><b>Transfer From List of Rooms</b></label>
                          </div>
                        </form>
                  
                  </div>
                </div>
           </div>
  
           <div class="col-sm-6" style="padding-left:35px;">
              <div class="panel panel-default">
                  <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-3">
  
                    </div>
  
                    <div class="col-sm-3">
                      
                      </div>
                    </div>   
                  
                    <div class="row">
                        <div class="col-sm-1">
                      <input type="radio" name="optradio">
                        </div>
      
                        <div class="col-sm-5" style="margin-left:2%;">
                          <label>GroupedPostings</label>
                        </div>
                        </div>  
  
                        <div class="row">
                            <div class="col-sm-1">
                                <input type="radio" name="optradio">
                            </div>
          
                            <div class="col-sm-5" style="margin-left:2%;" >
                                <label >EntireFolio</label> 
                              </div>
                            </div>  
  
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="radio" name="optradio">
                                </div>
              
                                <div class="col-sm-5" style="margin-left:2%">
                                    <label>MarkedPostings</label> 
                                  </div>
                                </div>  
  
                                <div class="row">
                                    <div class="col-sm-1">
                                        <input type="radio" name="optradio">
                                    </div>
                  
                                    <div class="col-sm-5" style="margin-left:2%">
                                        <label>PartialPostings</label> 
                                      </div>
                                    </div>  
  
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <input type="radio" name="optradio">
                                        </div>
                      
                                        <div class="col-sm-5" style="margin-left:2%">
                                            <label>CheckNumber</label>
                                          </div>
                                        </div>  
                  </div>
                </div>
             
            </div>
  
         </div>
  
      <div class="row">
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-3">
                    <b> </b>
                  </div>
  
                  <div class="col-sm-3">
                      <b>To Room</b>
                    </div>
  
                    <div class="col-sm-6">
                        <select style="width:50%;height:100%;">
                            <option value="101">101</option>
                            <option value="102">102</option>
                            <option value="103">103</option>
                            <option value="104">104</option>
                          </select>
                    </div>
                </div>
              
              </div>
            </div>
      </div>
  
      <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-body">
                  <b>133</b><br>
                  <b>Barker</b>
                </div>
              </div>   
        </div>
        <div class="col-sm-1"><br>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <b>415</b><br>
                    <b>Archer</b>
              </div>
              </div>
          </div>
      </div>
  
          
  
  
  
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href="#aftertransfer"><b>Transfer</b></button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
        </div>
      </div>
      
    </div>
    </div>
  </div>
  
    <!-- Modal -->
    <div class="modal fade" id="aftertransfer" role="dialog">
        <div class="vertical-alignment-helper">  
      <div class="modal-dialog vertical-align-center modal-sm">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><b>Opera</b></h4>
            </div>
            <div class="modal-body">
              <p> charge transferred </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>  
          </div>
          
        </div>
      </div>
      </div>