
<div class="scrollhid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
    <div class="row"  style="padding-top:5px;">
    
      <div class="container">
        <div class="jumbotron jumbotron-fluid" style="background-color:0077B5;color:white;padding-top:20px;padding-bottom:1%;margin-left:5px;margin-right:1%;margin-bottom:1%;width:98%;">
        
                      
            <form style="margin-bottom:1px;">
                <div class="row" *ngFor="let tryitem of navigat;let i=index">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <label for="room">Balance</label>
                      <div class="form-group">            
                        <input type="text"  name="balance1" class="form-control input-sm" style="height:27px;width:70%;" [(ngModel)]="tryitem.res_guest_balance" disabled>
                      </div>
                     
                 </div>
                
                <div class="col-md-2">
                <label for="name">Arrival</label>
                <div class="form-group">          
                  <input type="text" name="bilar" class="form-control input-sm" style="height:27px;width: 70%;" [(ngModel)]="tryitem.res_arrival" disabled>
                </div>
              </div>
      
              <div class="col-md-2">
                  <label for="group">Company</label>
                <div class="form-group">
                  
                  <input type="text" name="bilcmpny" class="form-control input-sm" style="height:27px;width: 70%;" disabled>
                </div>
              </div>
               
              <div class="col-md-2">
                  <label for="group">Rate code</label>
                <div class="form-group">
                  
                  <input type="text" class="form-control input-sm" name="bilrtcd" style="height:27px;width: 70%;" [(ngModel)]="tryitem.res_rate_code" disabled>
                </div>
              </div>
      
              <div class="col-md-2">
                  <label for="company">Prs</label>
                 <div class="form-group">
                 
                  <input type="text" class="form-control input-sm" name="bilper" style="height:27px;width:70%;" [(ngModel)]="tryitem.res_adults" disabled>
                </div>
              </div>
      
              <div class="col-md-1"></div>
      
              </div>
      
               <div class="row" *ngFor="let secondatmpt of navigat;let i=index">
                <div class="col-md-1"></div>
                
                <div class="col-md-2">
                    <label for="room">Status</label>
                <div class="form-group">
                  <input type="text" name="bilstat" class="form-control input-sm" style="height:27px;width:70%;" [(ngModel)]="secondatmpt.res_guest_status" disabled>
                </div>
              </div>
                
              <div class="col-md-2">
                  <label for="name">Departure</label>
                <div class="form-group">            
                  <input type="text" name="bildep" class="form-control input-sm" style="width:70%;height:27px;" [(ngModel)]="secondatmpt.res_depature" disabled>
                </div>
              </div>
      
              <div class="col-md-2">
                  <label for="group">Group</label>
                <div class="form-group">           
                  <input type="text" name="bilgrp" class="form-control input-sm" style="height:27px;width:70%;" disabled>
                </div>
              </div>
               
              <div class="col-md-2">
                  <label for="group">Rate</label>
                <div class="form-group">           
                  <input type="text" name="bilrat" class="form-control input-sm" style="height:27px;width:70%;" [(ngModel)]="secondatmpt.res_rate" disabled>
                </div>
              </div>
      
              <div class="col-md-2">
                  <label for="company">Room Type</label>
                 <div class="form-group">            
                  <input type="text" name="bilrmtyp" class="form-control input-sm" style="height:27px;width:70%;" [(ngModel)]="secondatmpt.res_room_type" disabled> 
                </div>
              </div>
      
                <div class="col-md-1"></div>
      
               </div>
               
              </form>
        </div>
        </div>
      </div>
 

  <div class="row" *ngFor="let window of windowbal">
  <div class="col-md-6">
    <div class="col-md-6">
        <label style="margin-left:8%;">(1) {{name}}</label> 
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-1" style="margin-left:-12%;">
        <label>Balance:{{window.w1_total}}</label>
    </div>
  </div>

  <div class="col-md-6">
      <div class="col-md-6">
          <label>(2) {{name}}</label> 
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
          <label>Balance:{{window.w2_total}}</label>
      </div>
    </div> 
  </div>

  <!-- <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <label> {{name}}</label>
    </div>
    <div class="col-sm-2">
      <label>{{window.w1_total}}</label>
    </div> 
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <label>{{name}}</label>
    </div>   
    <div class="col-sm-2">
        <label>{{window.w2_total}}</label>
      </div>  -->

  <div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="container-fluid" style="padding-right:0px;padding-left:0px;">
            <div class="scrollable3">
         <table class="table table-bordered table-hover">
          <thead style="background-color:#0077B5;color:white;font-size:14px;">
            <tr>
              <th>Posting_Date</th>
              <th>Code</th>
              <th>Description</th>
              <th>Amount</th>
              <th>ChequeNumber</th>
              <th>Quantity</th>           
              <th>Supplement</th>
              <th>Reference</th>
               
            </tr>
          </thead>
          <tbody style="font-size:small;">
            <contextmenu #contextmenu style="width:70%;">
              <div class="dropdown open">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" data-toggle="modal" href="#transfertransaction">Transfer To Another Room</a><br>
                  <a class="dropdown-item" data-toggle="modal" href="#transfertowindowalert" (click)="window_button()">Transfer to another window</a><br>
                  
                  <!-- <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                  </div> -->
                                  
                </div>
              </div>
            </contextmenu>
            
            <tr *ngFor="let item of vaal1; let i=index" (click)="selectMembersEditt(item,i)" 
            [ngClass]="{'backGroundColor':i==selectindexx}"  [contextmenu]="[contextmenu, {item: item}]" >
             
              <td >{{item.posting_date}}</td>
              <td >{{item.posting_code}}</td>
              <td >{{item.posting_code_description}}</td>           
              <td>{{item.posting_amount}}</td>
              <td>{{item.checkno}}</td>
              <td>{{item.posting_quantity}}</td>
              <td>{{item.posting_supplement }}</td>
              <td>{{item.posting_reference }}</td>

              
            </tr>
              
                
          </tbody>
         </table>
       </div>
      </div> 
    </div>

    <div class="col-md-6">
        <div class="container" style="width:101%;margin-left:-30px;">
        <div class="scrollable3">
         <table class="table table-bordered table-hover">
          <thead style="background-color:#0077B5;color:white;font-size:14px;">
            <tr>
              <th>Posting_Date</th>
              <th>Code</th>
              <th>Description</th>
              <th>Amount</th>
              <th>ChequeNumber</th>
              <th>Quantity</th>           
              <th>Supplement</th>
              <th>Reference</th>
               
            </tr>
          </thead>
          <tbody style="font-size:small;">
            <contextmenu #contextmenu style="width:70%;">
              <div class="dropdown open">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" data-toggle="modal" href="#transfertransaction">Transfer To Another Room</a><br>
                  <a class="dropdown-item" data-toggle="modal" href="#transfertowindowalert" (click)= "window_button()">Transfer to another window</a><br>                                  
                


                <!-- <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Link 1</a>
                  <a class="dropdown-item" href="#">Link 2</a>
                  <a class="dropdown-item" href="#">Link 3</a>
                </div> -->
                </div>
              </div>
            </contextmenu>
            
            <tr *ngFor="let itemm of vaal2; let i=index" (click)="vaalvaalfunc(itemm,i)" 
            [ngClass]="{'backGroundColor':i==sidx}"  [contextmenu]="[contextmenu, {itemm: itemm}]" >
             
              <td >{{itemm.posting_date}}</td>
              <td >{{itemm.posting_code}}</td>
              <td >{{itemm.posting_code_description}}</td>           
              <td>{{itemm.posting_amount}}</td>
              <td>{{itemm.checkno}}</td>
              <td>{{itemm.posting_quantity}}</td>
              <td>{{itemm.posting_supplement }}</td>
              <td>{{itemm.posting_reference }}</td>
            </tr>     
          </tbody>
         </table>
       </div>
      </div> 
    </div>
  </div>
    
      
  </div>
  <br>
  <div class="row">
    
  <form class="form-inline">
  
    <div class="row">
      
      <button type="button" id="post" class="btn btn-success" style="width:110px;margin-left:5%;" data-target="#postoption" data-toggle="modal"><b>post</b></button>
                
      <button type="button" class="btn btn-default" style="width:110px;margin-left:2%;"  data-target="#editmodal" data-toggle="modal" [disabled]=edtvar><b>Edit</b></button>

      <button type="button" class="btn btn-info" style="width:110px;margin-left:2%;" disabled><b>Folio</b></button>

      <button type="button" class="btn btn-warning" style="width:110px;margin-left:2%;" data-target="#postinghistory" data-toggle="modal"><b>History</b></button>
  
      <button type="button" class="btn btn-secondary" style="width:110px;margin-left:2%;" data-toggle="modal" data-target="#paymentmodal"><b>Payment</b></button>
  
      <button type="button" class="btn btn-primary" style="width:110px;margin-left:2%;" disabled><b>Settlement</b></button>

      <button type="button" class="btn btn-info" style="width:110px;margin-left:2%;" data-toggle="modal" data-target="#reinstatemodal" disabled><b>Reinstate</b></button>
      
      <button type="button" class="btn btn-danger" style="width:110px;margin-left:2%;" routerLink="/inhousecashering"><b>Close</b></button>
        
    </div>
  
  </form>
  
    
</div>
    </div>
    </div>
  </div>
   
  <!-- *********************************************************************************************************** -->
     
  

 <!--alert for Transfer to another room-->
    
 <div class="modal fade" id="transfertowindowalert" role="dialog">
    <div class="vertical-alignment-helper">  
  <div class="modal-dialog vertical-align-center modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>Alert</b></h4>
        </div>
        <div class="modal-body">
          <p>Which window do you want to transfer?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]=butn1 (click)="transfertowindow('win1')">Window 1</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" [disabled]=butn2 (click)="transfertowindow('win2')">Window 2</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  
  
  <!-- ******************************************alert for Transfer to another room ends************************************************************************* -->




        <!--  post option Modal -->
  
  <div class="modal fade" id="postoption" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  
                      </button>
                       <h3 class="modal-title" id="myModalLabel"><b>Transaction Posting</b></h3>
  
                  </div>
                  <div class="modal-body">
                    <div class="row" >
                      <div class="col-sm-12">
                              <table class="table table-bordered tableBodyScroll">
                                      <thead style="background-color: #337ab7;color: white;">
                                        <tr>
                                          <th>Code</th>
                                          <th>Description</th>
                                          <th>Amount</th>
                                          <th  >Qty</th>
                                          <th >Window</th>
                                          <th>Arr.Code</th>
                  
                                          <th >Check_No</th>
                                          <th >Supplement</th>
                                          <th >Reference</th>
                                          <th width=10% ></th>
                                        </tr>
                                      </thead>
                                      <tbody >
                                          <tr>
                                              <td>
                                                <select   style="width:100%;" [(ngModel)]="add.Code">
                                                   <option  *ngFor="let ratecdlist of pscd_dd" [ngValue] = "ratecdlist.posting_code_description">{{ratecdlist.posting_code}}</option>
                                                </select>
                                              </td>
                                              <td><input style="width: 100%;height: 25px;" type="text" [(ngModel)]="add.Code"/></td>
                                              <td><input style="width: 100%;height: 25px;"  type="text" [(ngModel)]="add.Amount" /></td>
                                              <td><input style="width: 100%;height: 25px;"  type="text" [(ngModel)]="add.Qty" /></td>
                                              <td><input style="width: 100%;height: 25px;"  type="text" [(ngModel)]="add.Windowno" /></td>
                                              <td><input style="width: 100%;height: 25px;"  type="text" [(ngModel)]="add.Arr_Code" /></td>
                  
                                              <td><input style="width: 100%;height: 25px;"  type="text" [(ngModel)]="add.Check_No" /></td>
                                              <td><input style="width: 100%;height: 25px;"  type="text" [(ngModel)]="add.Supplement" /></td>
                                              <td><input style="width: 100%;height: 25px;"  type="text" [(ngModel)]="add.Reference" /></td>
                                              <td style="width: 86px;"><span>
                                                <i style="padding-left: 34px;cursor: pointer;" (click)="addRows(add)"
                                                class="fa fa-plus-circle" aria-hidden="true"></i>
                                             </span></td>
                  
                                             </tr>
                                            <tr *ngFor="let room of showdetails ; let i=index;">
                  
                                                <td><label *ngIf="room.editFlag==false">{{room.Post_code_id}}</label>
                                                  <input type="text"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="room.Post_code_id"></td>

                                                <td><label *ngIf="room.editFlag==false">{{room.Post_des}}</label>
                                                  <input type="text"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true"  [(ngModel)]="Post_des"></td>
  
                                                <td ><label *ngIf="room.editFlag==false">{{room.Posting_amount}}</label>
                                                <input type="text"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true"  [(ngModel)]="Posting_amount"></td>

                                                <td ><label *ngIf="room.editFlag==false">{{room.Posting_quantity}}</label>
                                                  <input type="text"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true"  [(ngModel)]="Posting_qty"></td>
                          
                                                <td><label *ngIf="room.editFlag==false">{{room.Post_window}}</label>
                                                  <input type="text"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="Post_window"></td>
                          
                                                <td  ><label *ngIf="room.editFlag==false">{{room.Arrangement_code}}</label>
                                                  <input type="text"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true"  [(ngModel)]="Arrangement_code"></td>
                          
                                                <td ><label *ngIf="room.editFlag==false">{{room.Checkno}}</label>
                                                  <input type="number"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="Checkno"></td>
                          
                                                <td ><label *ngIf="room.editFlag==false">{{room.Posting_supplement}}</label>
                                                  <input type="text"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="Posting_supplement"></td>
                          
                                                <td ><label *ngIf="room.editFlag==false">{{room.Posting_reference}}</label>
                                                  <input type="text"  style="width: 100%;height: 25px;" *ngIf="room.editFlag==true" [(ngModel)]="Posting_reference"></td>
                        
                                                
                                                  
                  
                                              </tr>
                  
                                      </tbody>
                                    </table>
                      </div>
                  </div>
                  
                  </div>
                  <div class="row">
                    <table>
                      <tr>
                        <td class="col-sm-2" style="width:20%;">
                            <label style="margin-left:10px;">Total Posting</label>
                        </td>
                        <td class="col-sm-1">
                          <input style="width:200%;height:25px;margin-left: -131%;" type="text" disabled [(ngModel)]="totalPos"/>
                        </td> 
                        <td class="col-sm-2">
                            <label style="margin-left:17%;">Total Amount</label>
                        </td>
                        <td class="col-sm-1">
                          <input style="width:200%;height:25px;" type="text" disabled [(ngModel)]="totalamt"/>
                        </td> 
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3" >                 
                        <button type="button" style="width:110px;margin-left:2%;" class="btn btn-primary" (click)="saveroomDetails()" data-toggle="modal" data-target="#postingchargealert" data-dismiss="modal">Post</button>
                        </div>   
                        <div class="col-sm-3" style="margin-left:4%;">
                          <button type="button" style="width:110px;margin-left:2%;margin-bottom:20%;" class="btn btn-danger" data-dismiss="modal" (click)="clearpost()">Close</button>
                        </div>
                      </tr>
                    </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- ************************************************************posting modal ends******************************************************** -->
<!--alert after posting modal-->
    
 <div class="modal fade" id="postingchargealert" role="dialog">
  <div class="vertical-alignment-helper">  
<div class="modal-dialog vertical-align-center modal-sm">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Alert</b></h4>
      </div>
      <div class="modal-body">
        <p>{{postsuccessmsg}}{{postfailuremsg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
    
  </div>
</div>
</div>


<!-- ******************************************alert for posting modal ends************************************************************************* -->

        <!--posting history modal  -->

        <div class="modal fade" id="postinghistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      
                          </button>
                           <h3 class="modal-title" id="myModalLabel"><b>Posting History</b></h3>
      
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                              <!-- <div class="scrollable2"> -->
                              <div class="table-responsive">
                                <table class="table table-bordered  table-hover"  style="font-size:12px;">        
                                    <thead style="background-color:#0077B5;color:white;">
                                      <tr>
                                        <th scope="col">Action</th>
                                        <th scope="col">Revenue Date</th>
                                        <th scope="col">posting code</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Reason</th>
                                        <th scope="col">Description</th>
                                      </tr>
                                    </thead>
                                    <tbody *ngFor="let firstitem of house">
                                      <tr>
                                        <th scope="row">{{firstitem?.posting_action}}</th>
                                        
                                        <td>{{firstitem?.revenue_date}}</td>
                                        <td>{{firstitem?.posting_date}}</td>
                                        <td>{{firstitem?.user_role}}</td>
                                        <td>{{firstitem?.user_name}}</td>
                                        <td>{{firstitem?.posting_reason}}</td>
                                        <td>{{firstitem?.posting_description}}</td>                                        
                                      </tr>

                                    </tbody>
                                  </table>
                                  </div>
                                  </div>
                                  <!-- </div> -->
                            <div class="row">
                              <div class="col-md-6">
                                <div class="container-fluid">
                                  <b>Original</b>
                                  <div class="scrollable2">
                                  <!-- <div class="table-responsive" style="min-height:101.01%;"> -->
                                    <table class="table table-bordered table-hover"  style="font-size:12px;">
                                      <thead style="background-color:#0077B5;color:white;">
                                        <tr>
                                          <th scope="col">Action</th>
                                          <th scope="col">Revenue_Date</th>
                                          <th scope="col">posting_code</th>
                                          <th scope="col">User</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Reason</th>
                                          <th scope="col">Description</th>
                                        </tr>
                                      </thead>
                                      <tbody *ngFor="let hisitem of hist">
                                        <tr>
                                          <th scope="row">{{hisitem?.posting_action}}</th>
                                          
                                          <td>{{hisitem?.revenue_date}}</td>
                                          <td>{{hisitem?.posting_date}}</td>
                                          <td>{{hisitem?.user_role}}</td>
                                          <td>{{hisitem?.user_name}}</td>
                                          <td>{{hisitem?.posting_reason}}</td>
                                          <td>{{hisitem?.posting_description}}</td>                                        
                                        </tr>
                                      
                                      </tbody>
                                    </table>
                                    </div>
                                    </div>
                                    </div>
                                  <!-- </div> -->
                                  <div class="col-md-6">
                                    <div class="container-fluid">
                                      <b>Changes</b>
                                      <div class="scrollable2">
                                      <!-- <div class="table-responsive" style="min-height:101.01%;"> -->
                                        <table class="table table-bordered table-hover"  style="font-size:12px;">
                                          <thead style="background-color:#0077B5;color:white;">
                                            <tr>
                                              <th scope="col">Action</th>
                                              <th scope="col">Revenue_Date</th>
                                              <th scope="col">posting_code</th>
                                              <th scope="col">User</th>
                                              <th scope="col">Name</th>
                                              <th scope="col">Reason</th>
                                              <th scope="col">Description</th>
                                            </tr>
                                          </thead>
                                          <tbody *ngFor="let postitem of home">
                                            <tr>
                                              <th scope="row">{{postitem?.posting_action}}</th>
                                              
                                              <td>{{postitem?.revenue_date}}</td>
                                              <td>{{postitem?.posting_date}}</td>
                                              <td>{{postitem?.user_role}}</td>
                                              <td>{{postitem?.user_name}}</td>
                                              <td>{{postitem?.posting_reason}}</td>
                                              <td>{{postitem?.posting_description}}</td>                                        
                                            </tr>
                                          
                                          </tbody>
                                        </table>
                                      </div>
                                      </div>
                                    </div>  
                          </div>
                          </div>
                      <!-- </div> -->
                      <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          
                      </div>
                  </div>
             
          </div>
      </div>
<!-- *******************************************posting history modal ends************************************************************************** -->
          
        <!--  Edit Modal -->
        <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header" style="background: #0077B5;color: white;">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        
                            </button>
                             <h4 class="modal-title" id="myModalLabel"><b>Edit Transaction Details</b></h4>
        
                        </div>
                        <form #editform="ngForm">
                        <div class="modal-body">
                          <div class="row" >
                          
  
                              <div class="row">
                                  <div class="col-sm-6">
                                <div class="form-group">
                                  <div class="col-sm-6">
                                      <b>Room</b>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="editroom" class="form-control" [(ngModel)]="room" disabled>
                                      </div>
                              </div>
                              </div>
                              </div>
  
                              <div class="row" style="margin-top:5px;">
                                  <div class="col-sm-6">
                                  <div class="form-group">
                                  <div class="col-sm-6">
                                      <b>Name</b>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="editname" class="form-control" [(ngModel)]="name" disabled>
                                      </div>
                              </div>
                              </div>
                            </div>
                              <hr>
  
                              <div class="row">
                                  <div class="col-sm-6">
                                  <div class="form-group">
                                  <div class="col-sm-6">
                                      <b>Code</b>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="editcode" class="form-control" [(ngModel)]="poscd" disabled> 
                                      </div>
                                      </div>
                              </div>
                            </div>
                              <hr>
                                  <div class="row">
                                    <div class="col-md-6">
                                  <div class="form-group">
                                  <div class="col-sm-6">
                                      <b>Amount</b>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text"  name="editamount" class="form-control" [(ngModel)]="amt" required>
                                      </div>
                                      </div>
                           
                  
                                <div class="form-group">
                                <div class="col-sm-6" style="padding-top:5px;">
                                    <b>Quantity</b>
                                  </div>
                                  <div class="col-sm-6" style="padding-top:5px;">
                                      <input type="text" class="form-control" name="quantityy" [(ngModel)]="quant" required>
                                  </div>
                                </div>
                        
  
  
                              <!-- <div class="form-group">
                              <div class="col-sm-6" style="padding-top:5px;">
                                  <b>Amount</b>
                                </div>
                                <div class="col-sm-6" style="padding-top:5px;">
                                    <input type="text" name="editamount" class="form-control" [(ngModel)]="amount"  disabled>
                                </div>
                                </div> -->
                              </div>
  
                              <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <textarea style="margin-left:4%;" class="form-control" name="txtarea" rows="5" id="comment" disabled >USD</textarea>
                                    </div>
                                 </div>
                                </div>
                              </div><hr>
  
                      <div class="row">
                          
                          <div class="col-md-6">
                              <div class="form-group">
                                    <div class="col-sm-6">
                                      <b>Cashier</b>
                                    </div>
                                    <div class="col-sm-6" >
                                      <input type="text" name="editcash" class="form-control" disabled>
                                    </div>
                              </div>
                                
                                    
                                       
                                          
                                      <div class="form-group">
                                        <div class="col-sm-6" style="padding-top:5px;">
                                          <b>Folio.No</b>
                                        </div>
                                        <div class="col-sm-6" style="padding-top:5px;">
                                          <input type="text" name="editfolio" class="form-control" disabled>
                                        </div>
                                  </div>
  
                          
                                         
                                         
                          </div>
  
                          
                          <div class="col-md-6">
                              <div class="form-group">
                                <div class="col-md-4" style="margin-left:5%;">
                                  <label>Arr.code</label>
                                </div> 
                         
                                <div class="col-md-6">
                                  <select style="width:70%;height:100%;" name="arrcode" class="form-control" [(ngModel)]="ed_arcode" required>
                                      <option value="" hidden>select value</option>
                                      <option value="101">1</option>
                                      <option value="102">2</option>
                                      <option value="103">3</option>
                                      <option value="104">4</option>
                                    </select>
                                </div>
                              </div>
                            </div>
                           </div>
                      <hr>
  
                      <div class="row">
                          <div class="col-sm-6">
                        <div class="form-group">
                          <div class="col-sm-6">
                              <b>Posting Date</b>
                            </div>
                            <div class="col-sm-6">
                                <input type="date" name="editpostdat" class="form-control" style="width:160px;" [(ngModel)]="posdt" disabled>
                              </div>
                      </div>
                      </div>
                      </div>
  
                      <div class="row" style="padding-top:5px;">
                          <div class="col-sm-6">
                        <div class="form-group">
                          <div class="col-sm-6">
                              <b>Revenue Date</b>
                            </div>
                            <div class="col-sm-6">
                                <input type="date" name="editrevendat" class="form-control" style="width:160px;" disabled>
                              </div>
                      </div>
                      </div>
                      </div>
  <hr>
  <div class="row">
      <div class="col-sm-6">
    <div class="form-group">
      <div class="col-sm-6">
          <b>Article</b>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="article" style="width:260px;" disabled>
          </div>
  </div>
  </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="col-sm-6" style="padding-top:5px;">
          <b>Credit Card No.</b>
        </div>
        <div class="col-sm-6" style="padding-top:5px;">
            <input type="text" name="editcredit" class="form-control" [(ngModel)]="creditcd" disabled>
        </div>
        <br>
      </div>           
    </div>
  
    <div class="col-md-6">
      <div class="form-group">
        <div class="col-md-4" style="padding-top:5px;">
          <label>Exp.Date</label>
        </div> 
     
        <div class="col-md-6" style="padding-top:5px;">
          <input type="text" name="editexpdate" class="form-control" [(ngModel)]="creditexpdt" disabled>
        </div>
      </div>
    </div>
  </div>
    
       <div class="row" style="padding-top:5px;">
          <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-6">
              <b>Supplement</b>
            </div>
            <div class="col-sm-6">
                <input type="text" name="editsupple" class="form-control" style="width:260px;" [(ngModel)]="supple" required> 
            </div>
      </div>
      </div>
      </div>
  
      <div class="row" style="padding-top:5px;">
          <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-6">
              <b>Reference</b>
            </div>
            <div class="col-sm-6">
                <input type="text" name="editreference" class="form-control" style="width:260px;"  [(ngModel)]="ref" required>
              </div>
      </div>
      </div>
      </div>
  
  
  
  <div class="row" style="padding-top:5px;">
      <div class="col-md-6">
          <div class="form-group">
          <div class="col-sm-6">
              <b>Cheque No.</b>
            </div>
            <div class="col-sm-6">
                <input type="text"name="editcheque" class="form-control" [(ngModel)]="cqno" required> 
            </div>
            
           
            </div>
                     
                     
      </div>
  
     
      <div class="col-md-6">
          <div class="form-group">
            <div class="col-md-3">
              <label>Covers</label>
            </div> 
     
            <div class="col-md-6">
                <input type="text" name="editcovers" class="form-control">
            </div>
          </div>
        </div>
      </div>
                      
      <div class="row">
        <div class="col-md-6">
          
        </div>
      </div>

    
  </div>
</div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="editbilling(amt,quan,ed_arcode,supple,ref,cqno)" data-toggle="modal" data-target="#afteredit" data-dismiss="modal" [disabled]="!editform.form.valid">OK</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              
          </div>
        </form>
      </div>
  </div>
  </div>
</div>
<!-- **********************************************edit modal ends********************************************************* -->

<!--alert after edit posting payment Modal -->
    <div class="modal fade" id="afteredit" role="dialog">
      <div class="vertical-alignment-helper">  
        <div class="modal-dialog vertical-align-center modal-sm">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><b>Alert</b></h4>
            </div>
            <div class="modal-body">
              <p> {{editsuccessmsg}}{{editfailuremsg}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>  
          </div>
        
        </div>
      </div>
    </div>
<!--****************************** after edit posting payment ends************************************************************ -->




<!--Reinstate modal-->

<div class="modal fade" id="reinstatemodal" role="dialog">
    <div class="vertical-alignment-helper">  
  <div class="modal-dialog vertical-align-center modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background: #0077B5;color: white;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>Confirm Reinstate</b></h4>
        </div>
        <div class="modal-body">
          <p>Are you sure want to reinstate? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  <!-- ******************************************reinstate ends*************************************************************** -->
  <!-- transfer to another room modal -->
  <div class="modal fade" id="transfertransaction" role="dialog">
      <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>Transfer To Another Room</b></h4>
        </div>
        <div class="modal-body">
         <div class="row">
           <div class="col-sm-10">
              <!-- <div class="panel panel-default">
                  <div class="panel-body"> -->
                      <form>
                          <div class="form-group">
                          <div class="row">
                            
                            <div class="col-sm-5"></div>
                            
                                <label class="radio-inline" >
                                  <input type="radio"  id="radio1" name="optradio" value="GP" [(ngModel)]="transtyp">Grouped Posting
                                </label>
                              
                            
  
                            <div class="row">
                            <div class="col-sm-5"></div>
                              
                                  <label class="radio-inline">
                                    <input type="radio"  id="radio2" name="optradio" value="EF" [(ngModel)]="transtyp">Enter Folio
                                  </label>
                                
                            </div>  
  
                          <!-- <div class="row">
                            <div class="col-sm-1">
                              <input type="radio" name="optradio">
                            </div>
          
                            <div class="col-sm-5" style="margin-left:2%">
                              <label>MarkedPostings</label> 
                            </div>
                          </div>  
  
                          <div class="row">
                            <div class="col-sm-1">
                              <input type="radio" name="optradio">
                            </div>
          
                            <div class="col-sm-5" style="margin-left:2%">
                              <label>PartialPostings</label> 
                            </div>
                          </div>   -->
  
                            <div class="row">
                              
                              <div class="col-sm-5"></div>
                             
                                  <label class="radio-inline">
                                    <input type="radio" id="radio3" name="optradio" value="CN" [(ngModel)]="transtyp">CheckNumber
                                  </label>
                                
                            </div>
                           
                          </div>
                        </div>  
                        </form>
                  
                  <!-- </div>
                </div> -->
           </div>
  
         </div>
  
      <div class="row">
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-3">
                    <b> </b>
                  </div>
  
                  <div class="col-sm-2" style="margin-left:2%;">
                      <b>To Room</b>
                    </div>
  
                    <div class="col-sm-6">
                        <select name="toroom" class="form-control" style="width:50%;height:100%;" [(ngModel)]="toroomno">
                          <option value="" hidden>select value</option>  
                          <option *ngFor="let selectroomlist of roomnum" [ngValue] = "selectroomlist.rm_room">{{selectroomlist.rm_room}} </option>
                          </select>
                    </div>
                </div>
              
              </div>
            </div>
      </div>
  
      <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-body">
                  <b>{{room}}</b><br>
                  <b></b>
                </div>
              </div>   
        </div>
        <div class="col-sm-1"><br>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <b>{{toroomno}}</b><br>
                    <b></b>
              </div>
              </div>
          </div>
      </div>
  
          
  
  
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href="#aftertransfer" (click)="transferroom(toroomno,transtyp)"><b>Transfer</b></button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
        </div>
      </div>
      
    </div>
    </div>
  </div>
  <!--********************************************** transfer to another room modal******************************************************************* -->
    <!--after transfer to another room Modal -->
    <div class="modal fade" id="aftertransfer" role="dialog">
        <div class="vertical-alignment-helper">  
          <div class="modal-dialog vertical-align-center modal-sm">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header" style="background: #0077B5;color: white;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>Alert</b></h4>
              </div>
              <div class="modal-body">
                <p> {{transroomsuccessmsg}}{{transroomfailuremsg}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
              </div>  
            </div>
          
          </div>
        </div>
      </div>
<!--****************************** after transfer to another room ends************************************************************ -->

 <!-- payment Modal in billing -->
 <div class="modal fade" id="paymentmodal"  role="dialog">
  <div class="vertical-alignment-helper">
  <div class="modal-dialog vertical-align-center">
  
    <!-- payment  Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background: #0077B5;color: white;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Payment </h4>
      </div>
      <form #heroForm="ngForm">
      <div class="modal-body">
          
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">

                  <div class="col-sm-6">
                    <b>Payment Code</b>
                  </div>
                      <div class="col-sm-6">
                          <select style="height:30px;width:130%;" class="form-control" name="paycode" [(ngModel)]="selected" (change)="selectoption(selected)">
                            <option value="" hidden>select value</option>
                            <option  *ngFor="let paycodelist of paycode" [ngValue] = "paycodelist.payment_code_id">{{paycodelist.payment_code}}</option>
                          </select>

                      </div>
                    </div>
                    </div>
                    <div class="col-sm-3" style="color:#0077B5;" style="margin-left: 15px;">
                        <div *ngIf="showdiv=='1'">cash</div>
                        <div *ngIf="showdiv=='2'">credit card</div>
                        <div *ngIf="showdiv=='3'">Direct Bill</div>
                    </div>
                  
                </div><br>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="col-sm-6">
                      <b>Currency</b>
                    </div>
                    <div class="col-sm-6">
                        <select name="curcy" style="height:30px;width:150%;" class="form-control" [(ngModel)]="currency">
                          <option value="" hidden>select value</option>
                          <option *ngFor="let list of money" [ngValue]="list.transaction_currency_id">{{list.currency}}</option>
                          </select>
                      </div>
                    </div>  
                  </div>
              </div>
            </div> 

            <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-6">
                    <div class="col-sm-6">
                      <b>Amount</b>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="curr" class="form-control" style="width:150%;height:30px;" [(ngModel)]="amount">
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                  <div class="panel-body">
                        <div class="row" *ngIf="showdiv=='1'" >
                          <div class="col-sm-6">
                          <div class="col-sm-6">
                            <b>Reference</b>
                          </div>
                          <div class="col-sm-6">
                              <input type="text" class="form-control" name="reff" style="width:150%;height:30px;" [(ngModel)]="ref">
                          </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="showdiv=='2'">
                          <div class="col-sm-6">
                          <div class="col-sm-6">
                            <b>Credit card No.</b>
                          </div>
                          <div class="col-sm-6">
                              <input type="text" class="form-control" name="cardnum" style="width:150%;height:30px;" [(ngModel)]="cardno">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="col-sm-2">
                              <b>Expiry Date</b>
                            </div>
                            
                            <div class="col-sm-10">
                              <div class="row">
                                <div class="col-sm-6">  
                                    <app-monthpicker (change)="onMonthChange($event.target.value)" [(ngModel)]="PF_Expiration_Month"> </app-monthpicker>
                                </div>
                                
                                <div class="col-sm-6"> 
                                    <app-yearpicker (change)="onYearChange($event.target.value)" [(ngModel)]="PF_Expiration_Year"></app-yearpicker>
                                    {{PF_Expiration_Month}}        
                                  <!-- <input type="text" class="form-control"  [(ngModel)]="mbc.PF_Expiration_Date" style="width:200px;"> -->
                                </div>
                              </div>
                              </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="showdiv=='3'">
                          <div class="col-sm-3">
                            <b>Supplement</b>
                          </div>
                          <div class="col-sm-4">
                              <input type="text" class="form-control" name="sup" style="width:150%;height:30px;" [(ngModel)]="supp">
                            </div>
                          </div><br>
                            <div class="row" *ngIf="showdiv=='9003'">
                            <div class="col-sm-3">
                                <b>Reference</b>
                              </div>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control" name="referen" style="width:150%;height:30px;" [(ngModel)]="ref">
                                </div>
                        </div>
                      
                  </div>
                </div>
        
          </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="checkoutpost(selected,currency,amount,ref,supp,cardno); heroForm.reset()" data-target="#paymentalert" data-toggle="modal"><b>Post</b></button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="heroForm.reset()" ><b>Close</b></button>
      </div>
    </form>
    </div>
    
    
  </div>
</div>
</div>

<!--**************************************************************payment Modal ends**************************************************************************************-->
 <!--alert after payment modal-->
    
 <div class="modal fade" id="paymentalert" role="dialog">
  <div class="vertical-alignment-helper">  
<div class="modal-dialog vertical-align-center modal-sm">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background: #0077B5;color: white;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Alert</b></h4>
      </div>
      <div class="modal-body">
        <p>{{paysuccessmsg}}{{payfailuremsg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
    
  </div>
</div>
</div>


<!-- ******************************************alert for payment ends************************************************************************* -->

