<div class="row" style="width:99%">
  <div class="col-md-2"></div>
  <div class="col-md-10">
      <br>
<div class="container-fluid">
  <div class="jumbotron" style="background-color: #0077B5;color: white; ">
      <div class="row">

       <div class="col-md-4">

        <label for="email"> Name:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter Name" name="email">
       </div>

      <div class="col-md-4">
         <label for="email">Date:</label>
        <input type="date" class="form-control" id="email" name="date">
        </div>          

        <div class="col-md-4">

                <label for="email">Department:</label>
                <select class="form-control"  name="Department" id="">
                    <option value=""> HouseKeeping </option>

                </select>
        </div>
          
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">                  
             <label class="checkbox-inline" for="resolve"> <input type="checkbox" style="zoom:1" id="resolve"  name="resolve">Resolved</label>
        </div>
       <div class="col-md-4">
            <label class="checkbox-inline" for="unresolve"><input type="checkbox" style="zoom:1" id="unresolve"  name="unresolve"> Unresolved</label>
       </div>
       <div class="col-md-2">
             <button class="btn btn-success" style="width: 100%">All </button>  
        </div>       

    </div>

</div>

<br>

<table class="table table-bordered  tableBodyScroll">
  <thead>
      <tr class="table table-primary" style="background-color: #0077B5;color: white; ">
          <th style="width:140px;">Seq</th>
          <th style="width:138px;"> Name</th> 
          <th style="width:138px;"> Date</th>         
          <th style="width:140px;"> Time</th>
          <th style="width:140px;"> Department</th>
          <th style="width:139px;"> Resolved On</th>
          <th style="width:155px;"> Resolved By</th>
      </tr>
  </thead>
  <tbody>
          <tr *ngFor="let list of gettrace let i=index" > 
             <td>{{i+1}}</td>    
             <td>{{list.pf_firstname}}</td>        
             <td>{{list.traces_date}}</td>         
             <td>{{list.traces_time}}</td>   
             <td>{{list.traces_dept_code}}</td>  
             <td>{{list.resloved_on}}</td>     
             <td>{{list.resloved_by}}</td>                        
          </tr>
              <tr>    
             <td><input type="checkbox"></td>                
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>
              <tr>     
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>
              <tr>    
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>
              <tr>      
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>
              <tr>
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                             
          </tr>
              <tr>     
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>                                                            
  </tbody>
</table>
<br>    
<div>
        <button class="btn btn-info" style="width:12%; margin-left:10%;"> Resolve </button>    
        <button class="btn btn-primary"style="width:12%"> New  </button>    
        <button  routerLink="/reservation" class="btn btn-warning" style="width:12%">Resv </button>   
        <button class="btn btn-info " style="width:12%"> Edit </button>   
        <button class="btn btn-default disabled" style="width:12%"> Delete </button>        
        <button class="btn btn-danger" style="width:12%"routerLink="/mains"> Close </button>   
      
        </div>
      <br>

</div>

</div>


