<div class="row" style="width:99%">
  <div class="col-md-2"></div>
  <div class="col-md-10">
      <br>
<div class="container-fluid">
  <div class="jumbotron" style="background-color: #0077B5;color: white; ">
      <div class="row">
       <div class="col-md-4">
               <div class="row">
                  <div class="col-md-4">    
                      <form class="form-inline" action="/action_page.php">
                      <label for="email"> Name:</label>
                       </form>
                 </div>   
      
               <div class="col-md-6">    
                      <form class="form-inline" action="/action_page.php">
                       <input type="text" class="form-control" id="email" placeholder="Enter Name" name="email">
                       </form>
              </div>

              </div>
          </div>
          <div class="col-md-4">
                <div class="row">
                <div class="col-md-4">    
            <form class="form-inline" action="/action_page.php">
                <label for="email">Date:</label>
                </form>
            </div>   
                <div class="col-md-6">    
            <form class="form-inline" action="/action_page.php">
                <input type="date" class="form-control" id="email" placeholder="Enter First Name" name="email"[(ngModel)]="usersss.PF_Firstname">
                </form>
            </div>

            </div>
        </div>          

          <div class="col-md-4">   
                  <form class="form-inline" action="/action_page.php">
                   <input type="checkbox" class="form-control" id="email"  name="email"[(ngModel)]="usersss.RM_Room_Type">
                  <label for="email">Resolved</label>
                  <input type="checkbox" class="form-control" id="email"  name="email"[(ngModel)]="usersss.RM_Room_Type" style="margin-left:2%;">
                  <label for="email">Unresolved</label>
                  </form>
                 </div>
          
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
                <div class="row">
                <div class="col-md-4">    
            <form class="form-inline" action="/action_page.php">
                <label for="email">Department:</label>
                </form>
            </div>   
                <div class="col-md-6">    
            <form class="form-group" action="/action_page.php">
                <!-- <input type="text" class="form-control" id="email" placeholder="Enter First Name" name="email"[(ngModel)]="usersss.RM_Room"> -->
                <select class="form-control"  name="Department" id="" [(ngModel)]="usersss.RM_Room" style="color: black;width: 145%;">
                    <option value=""> HouseKeeping </option>

                </select>
                </form>
            </div>

            </div>
        </div>

     <div class="col-md-8">
            <div class="row">
                    <div class="col-md-2"></div>

                     <div class="col-md-3">
                      <button class="btn btn-success" style="width: 100%">All </button>  
                    </div>


                    
                    </div>
        </div>

       

    </div>

</div>

<br>

<table class="table table-bordered table-striped">
  <thead>
      <tr class="table table-primary" style="background-color: #0077B5;color: white; ">
          <th> </th>
          <th> Name</th> 
          <th> Date</th>         
          <th> Time</th>
          <th> Department</th>
          <th> Resolved On</th>
          <th> Resolved By</th>
      </tr>
  </thead>
  <tbody>
          <tr> 
             <td><input type="checkbox"></td>    
             <td> </td>        
             <td> </td>         
             <td> </td>   
             <td> </td>  
             <td> </td>     
             <td> </td>                        
          </tr>
              <tr>    
             <td><input type="checkbox"></td>                
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>
              <tr>     
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>
              <tr>    
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>
              <tr>      
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>
              <tr>
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                             
          </tr>
              <tr>     
             <td><input type="checkbox"></td>    
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>     
             <td></td>                        
          </tr>                                                            
  </tbody>
</table>
<br>    
<div>
        <button class="btn btn-info" style="width:12%; margin-left:10%;"> Resolve </button>    
        <button class="btn btn-primary"style="width:12%"> New  </button>    
        <button  routerLink="/reservation" class="btn btn-warning" style="width:12%">Resv </button>   
        <button class="btn btn-info " style="width:12%"> Edit </button>   
        <button class="btn btn-default disabled" style="width:12%"> Delete </button>        
        <button class="btn btn-danger" style="width:12%"routerLink="/mains"> Close </button>   
      
        </div>
      <br>

</div>

</div>


