<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <br>
        <div class="continer-fluid">
          <div class="col-md-3">
            <div class="form-group">
              <label for="name">Date</label>
              <input type="date" class="form-control input-sm" name="date">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="Display">Display</label>
              <select class="form-control input-sm"name="Display">
                <option>Current</option>
                <option>...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="name">Currency</label>
              <select class="form-control input-sm" name="Currency">
                <option>IND</option>
                <option>USD</option>
                <option>AUS</option>
              </select>

            </div>
          </div>
          
    </div>
  </div>
</div>
   <!-- //table for grid -->
    
      <div class="row">
        <div class="continer">
          <div class="table-responsive" style="width:100%;">
            <table class="table table-bordered table-hover" style="margin-left: 320px">
              <thead style="background-color: #0077B5;color:white;">
                <tr>
                  <th>Date</th>
                  <th>Kngn</th>
                  <th>Kngs</th>
                  <th>Ksbn</th>
                  <th>Ksbs</th>
                  <th>Sjsn</th>
                  <th>Sdbn</th>
                  <th>Sjss</th>
                  <th>Comp</th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>2-08-2018 Sat</td>
                    <td>15</td>
                    <td>10</td>
                    <td>10</td>
                    <td>25</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr>
                      <td>Original</td>
                      <td>15</td>
                      <td>10</td>
                      <td>10</td>
                      <td>25</td>
                      <td>10</td>
                      <td>10</td>
                      <td>10</td>
                      <td>10</td>
                    </tr>
                    <tr>
                        <td>Current</td>
                        <td>15</td>
                        <td>10</td>
                        <td>10</td>
                        <td>25</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                      </tr>
                      <tr>
                          <td>Pickup</td>
                          <td>15</td>
                          <td>10</td>
                          <td>10</td>
                          <td>25</td>
                          <td>10</td>
                          <td>10</td>
                          <td>10</td>
                          <td>10</td>
                        </tr>
                        <tr>
                            <td>03-08-2018 Sun</td>
                            
                            <td>15</td>
                            <td>10</td>
                            <td>15</td>
                            <td>10</td>
                            <td>25</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Original</td>
                            <td>15</td>
                            <td>10</td>
                            <td>15</td>
                            <td>10</td>
                            <td>25</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Current</td>
                            <td>15</td>
                            <td>10</td>
                            <td>15</td>
                            <td>10</td>
                            <td>25</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Pickup</td>
                            <td>15</td>
                            <td>10</td>
                            <td>15</td>
                            <td>10</td>
                            <td>25</td>
                            <td>15</td>
                            <td>15</td>
                            <td>15</td>
                        </tr>
                </tbody>
              
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="continer-fluid">
          <div class="col-md-2">
            <button class="btn btn-primary" type="button" style="width:100%">Range</button>
          </div>
          <div class="col-md-2">
              <button class="btn btn-Warning" type="button" style="width:100%">Close</button>
            </div>
        </div>
      </div>