    <!---Alert response-->

	<div class="modal fade" id="myModal1" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			 <h4>Connect 24/7 Hotel</h4>
			</div>
			<div class="modal-body">
			<b align="center">{{profile}}</b>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
			</div>
		  </div>
		  
		</div>
	  </div>
	
		 <div class="row" style="width: 99%;">
				<div class="col-md-2"></div>
				<div class="col-md-10">
				
					<div class="container-fluid" style="padding-top:50px;">
				
						<ul class="nav nav-tabs">
						  <li><a data-toggle="tab" routerLink="/individualprofile">Individual Profile</a></li>
						  <li class="active"><a data-toggle="tab" >Company Profile</a></li>
						  
						</ul>
					 
				  </div><br>
				  <div class="container-fluid">
						<ul class="nav nav-tabs">
							<li class="active" data-toggle="tab"><a>More Fields</a></li>
							<li><a>Stats & Info</a></li>
							<li><a>Contact</a></li>
							<!-- <li><a>Search</a></li> -->
							
						  </ul>
					  </div><br>
	
	<div class="container-fluid">
			<div class="panel panel-primary">
					<div class="panel-heading"><b>Address Information</b><b style="margin-left:50% ">Internal Information</b></div>
					<div class="panel-body">
						<form action="">
	<div class="row">
	
	<div class="col-lg-6">

	<div class="row">
	<div class="col-lg-3">
	  <b>Account</b>
	</div>
		<div class="col-lg-3">
		<div class="input-group">
			<input type="text" id="account" name="account" class="form-control" style="width:250px;" [(ngModel)]="user.PF_Account"></div>
	  </div>
	</div><br>
	
	<div class="row">
	<div class="col-lg-3">
	<b>Address</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
			<textarea id="address" name="address" row="1" class="form-control" style="width:250px;" [(ngModel)]="user.PF_Company_Address"></textarea></div>
	</div>
	
	</div><br>
	
	<div class="row" >
	<div class="col-lg-3">
	<b>Bussiness Address</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
	<textarea id="business" row="3" class="form-control" name="business"style="width:250px;" [(ngModel)]="user.PF_Business_Address"></textarea></div>
	</div>
	
	</div>

	<div class="row" style="padding-top:10px;">
	<div class="col-lg-3">
	<b>City</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
			<select name="city" id="city" name="city" class="form-control" style="width:250px;" [(ngModel)]="user.PF_City">
					<option *ngFor="let arr of itl" [ngValue]="arr.city">{{arr.city}}</option>
				</select>
			</div>
	</div>
	
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Postal Code</b>
	</div>
	
		<div class="col-lg-3">
		<div class="input-group">
	
	  <select name="postal" id="zipcode" name="postalcode" class="form-control" style="width:250px;" [(ngModel)]="user.PF_Postalcode">
		<option *ngFor="let list of cury" [ngValue]="list.postalcode">{{list.postalcode}}</option>
	</select>		
			  </div>
	</div>
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Country/State</b>
	</div>
	
	<div class="col-lg-3">
	<table>
	<tr>
	<td>	<select name="country" required style="height:34px;width:122px;" [(ngModel)]="user.PF_Company_Country">
	<option *ngFor="let companyprofile of country1" [ngValue] = "companyprofile.country">{{companyprofile.country}} </option></select></td>
	
	<td style="padding-left:5px;">
		<select name="state" required style="height:34px;width:122px;" [(ngModel)]="user.PF_Company_State">
	<option *ngFor="let companystate of state1" [ngValue] = "companystate.state">{{companystate.state}} </option></select></td>
	</tr>
	</table>
	</div>
	</div>
	</div>
	
	<div class="col-lg-6">

	<div class="row">
	<div class="col-lg-3">
	<b>Owner</b>
	</div>
	<div class="col-lg-3">
	
	<input type="text" name="owner" required style="height:34px;width:250px;" [(ngModel)]="user.PF_Owner">

	
	</div>
	</div>
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Territory</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
			<input type="text" id="territory" name="territory" class="form-control" style="width:250px;" [(ngModel)]="user.PF_Territory"></div>
	</div>
	</div>
	
	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Type</b>
	</div>
	<div class="col-lg-3">
	
		<select name="type" required style="height:34px;width:250px;"  [(ngModel)]="user.PF_Type">
			<option *ngFor="let companyprofiletype1 of type" [ngValue] = "companyprofiletype1.profiletype">{{companyprofiletype1.profiletype}} </option>
		 </select>
	   </div>
	</div>
	
	
		<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>Ref. Currency</b>
	</div>
	<div class="col-lg-3">
	
	<select name="currency"  required style="height:34px;width:250px;" [(ngModel)]="user.PF_Ref_Currency">
		<option *ngFor="let individualcurrency of currency" [ngValue] = "individualcurrency.currency">{{individualcurrency.currency}} </option></select>
	</div>
	</div>
	
	
		<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">
	<b>A/R No</b>
	</div>
	
	<div class="col-lg-3">
	<div class="input-group">
			<input type="text" id="arno" name="arno" class="form-control" style="width:250px;" [(ngModel)]="user.PF_AR_Number"></div>
	</div>
	</div>
	

	<div class="row" style="padding-top:5px;">
	<div class="col-lg-3">	
	<b>Communications</b>
	</div>
	<div class="col-lg-3">
			<select name="Communications" required style="height:34px;width:118px;" [(ngModel)]="user.PF_Company_Commtype1">
					<option *ngFor="let individualcommunication of comm1" [ngValue] = "individualcommunication.commtype">{{individualcommunication.commtype}} </option>
			</select>
	</div>
	<div class="col-lg-3">
			<div class="input-group">
					<input type="text"name="com" class="form-control" style="width:118px;" [(ngModel)]="user.PF_Company_Communication1">
				</div>
	</div>
	</div>

	<div class="row" style="padding-top:5px;">
			<div class="col-lg-3"></div>
			<div class="col-lg-3">
					<select name="comm1" required style="height:34px;width:118px;" [(ngModel)]="user.PF_Company_Commtype2">
							<option *ngFor="let individualcommunication1 of comm2" [ngValue] = "individualcommunication1.commtype">{{individualcommunication1.commtype}} </option> 
					</select>
			</div>
			<div class="col-lg-3">
					<div class="input-group">
							<input type="text" name="com1" class="form-control" style="width:118px;" [(ngModel)]="user.PF_Company_Communication2">
						</div>
			</div>
	</div>		
	

	<div class="row" style="padding-top:5px;">
			<div class="col-lg-3"></div>
			<div class="col-lg-3">
					<select name="comm2" required style="height:34px;width:118px;" [(ngModel)]="user.PF_Company_Commtype3">
							<option *ngFor="let individualcommunication2 of comm3" [ngValue] = "individualcommunication2.commtype">{{individualcommunication2.commtype}} </option>
						</select>
			</div>
			<div class="col-lg-3">
					<div class="input-group">
							<input type="text" name="com2"class="form-control" style="width:118px;" [(ngModel)]="user.PF_Company_Communication3">
						</div>
			</div>
	</div>		

	</div>
	
	</div>
</form>
	
	</div>
	</div>
	</div>
	
	
	
	<div class="container-fluid">
	
	
	<div class="row">
	<div class="col-lg-3"></div>
	
	<div class="col-lg-2">
	<button type="button" class="btn btn-info" (click)="submit(user)" style="width:160px;" data-toggle="modal" data-target="#myModal1"><b>Ok</b></button>
	</div>
	<div class="col-lg-2">
	<button type="button" class="btn btn-primary" style="width:160px;" (click)="cleardata()"><b>Reset</b></button>
	</div>
	<div class="col-lg-2">
	<button type="button" class="btn btn-success" (click)="updateCompanyProfile()" style="width:160px;"><b>Save</b></button>
	</div>
	<div class="col-lg-3"></div>
	
	<!-- <div class="col-lg-2">
	<button type="button" class="btn btn-default" style="width:160px;"><b>Options</b><span class="glyphicon glyphicon-thumbs-up" style="padding-left:5px;"></span></button>
	</div> -->
	<!-- <div class="col-lg-2">
	<button type="button" class="btn btn-danger" style="width:160px;"><b>Close</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
	</div> -->
	
	<!-- <div class="col-lg-2">
	<button type="button" class="btn btn-danger" (click)="deleteCompanyProfile()" style="width:160px;"><b>Delete</b><span class="glyphicon glyphicon-trash" style="padding-left:5px;"></span></button>
	</div> -->
	
	</div>
	
	
	</div>
	
	
	</div>
	</div>
	
	
	
	