<div class="row" style="width:99%;">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <div class="container-fluid" style="padding-top:20px;padding-left:50px;">
                <div class="panel panel-primary">
                        <div class="panel-body">
                                
                            <div class="row">
                                <div class="col-sm-3">
                                <b>Rate code</b>
                                </div>
                                <div class="col-sm-3">
                                <select class="form-control input-sm"  style="width:150px;" [(ngModel)]="ratecodedrop">
  -                                    <option  *ngFor="let ratecdlist of price" [ngValue] = "ratecdlist.ratecode_id">{{ratecdlist.rate_code}}</option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
      <div class="container-fluid" style="padding-top:-5px;padding-left:50px;"> 
  <!-- Rate details tab content -->
  <ul class="nav nav-tabs">
          <li class="active" (click)="tabname(1)"><a data-toggle="tab" href="#1-5Days" ><b>1-5Days</b></a></li>
          <li  (click)="tabname(2)"><a data-toggle="tab" href="#1-5Days">7-13Days</a></li>
          <li (click)="tabname(3)"><a data-toggle="tab" href="#1-5Days" >14-20Days</a></li>
          <li  (click)="tabname(4)"><a data-toggle="tab" href="#1-5Days">21+Days</a></li>
    </ul>
    <div class="tab-content clearfix">
        <div id="1-5Days" class="tab-pane fade in active" style="margin-top:10px;">
          <form>
            <div class="row">
            </div> 
          <div class="row">
          <div class="col-sm-5">
              
                <!-- <div class="panel panel-primary">
                    <div class="panel-body">
                            
                        <div class="row">
                            <div class="col-sm-3">
                            <b>Rate code</b>
                            </div>
                            <div class="col-sm-3">
                            <select class="form-control input-sm"  style="width:150px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div> -->
  
  <div class="panel panel-primary" style="border:solid 1px;border-color: lightgray">        
            <legend style="margin-left:5px" >Dates</legend>
                  <div class="panel-body">
                    <div class="row" style="margin-top:-25px">
                        <div class="col-md-3">
                            <b>SeasonCode</b>
                            <div class="form-group">
                            <div class="form-group" [class.has-error]="SeasonCode1.touched && SeasonCode1.invalid">                                                                                        
                                <select  name="SeasonCode" class="form-control"  #SeasonCode1="ngModel" class="form-control input-sm" [(ngModel)]="seasoncod"  style="width:95px;height:27px;" required>
                                    <!-- <option *ngFor="let rate of arrysec " [ngValue]="rate.season_code_id">{{rate.season_code}}</option> -->
                                    <option *ngFor="let type of arryses" [ngValue]="type.season_code_id">{{type.season_code}}</option>                                      
                                </select>
                                 <div *ngIf="SeasonCode1.touched && !SeasonCode1.valid && SeasonCode1.errors?.required " ngClass="{ 'has-error' : !SeasonCode1.valid && submitAttempt }">                                    
                            </div></div></div>
                            </div>
                            <div class="col-md-1"></div>
                          <div class="col-md-4">
                              <b>StartDate</b>
                              <div class="form-group">            
                                    <input type="date" name="stdt" class="form-control input-sm" [(ngModel)]="strtdt" >
                            </div>
                          </div>
                          <div class="col-md-4">
                                <b style="margin-left:30px">EndDate</b>
                            
                                <div class="form-group">            
                                    <input type="date" name="enddt" class="form-control input-sm"  [(ngModel)]="enddate">
                                </div>
                            </div>
                      
                       
                        </div>
                        <!-- <div class="col-md-6">
                                <div class="col-sm-1">
                                        <label for="mon"><input type="checkbox" id="mon" style="margin-left:10px;" />
                                         MON</label>
                                </div>
                                <div class="col-sm-1" style="margin-left:10px;">
                                        <label for="tue"><input type="checkbox" id="tue" style="margin-left:10px;" />
                                         TUE</label>
                                </div>
                                <div class="col-sm-1" style="margin-left:10px ">
                                        <label for="wed"><input type="checkbox" id="wed"style="margin-left:10px;" />
                                        WED</label> 
                                </div>
                                <div class="col-sm-1" style="margin-left:10px ">
                                        <label for="thur"><input type="checkbox" id="thur" style="margin-left:10px;" />
                                         THU</label>
                                </div>
                                <div class="col-sm-1" style="margin-left:10px ">
                                        <label for="fri"><input type="checkbox" id="fri" style="margin-left:10px;" />
                                        FRI</label>
                                </div>
                                <div class="col-sm-1" style="margin-left:10px ">
                                        <label for="sat"><input type="checkbox" id="sat" style="margin-left:10px;" />
                                        SAT</label>
                                 </div>
                                 <div class="col-sm-1" style="margin-left:10px ">
                                        <label for="sun"><input type="checkbox" id="sun" style="margin-left:10px;" />
                                        SUN</label>
                                </div>
                        </div> -->
                    
                      <div class="row" >
  
                      </div>
                      
                      <div class="row">
                      
                            <div class="col-sm-1">
                                    <label for="mon"><input type="checkbox" name="mondy" id="mondy" style="margin-left:10px;" [(ngModel)]="mondy" />
                                     MON</label>
                            </div>
                            <div class="col-sm-1" style="margin-left:10px;">
                                    <label for="tue"><input type="checkbox" id="tuesdy" name="tuesdy"  style="margin-left:10px;" [(ngModel)]="tuesdy" />
                                     TUE</label>
                            </div>
                            <div class="col-sm-1" style="margin-left:10px ">
                                    <label for="wed"><input type="checkbox" id="wednesdy" name="wednesdy" style="margin-left:10px;"  [(ngModel)]="wednesdy"/>
                                    WED</label> 
                            </div>
                            <div class="col-sm-1" style="margin-left:10px ">
                                    <label for="thur"><input type="checkbox" id="thursdy" name="thursdy" style="margin-left:10px;" [(ngModel)]="thursdy" />
                                     THU</label>
                            </div>
                            <div class="col-sm-1" style="margin-left:10px ">
                                    <label for="fri"><input type="checkbox" id="fridy"  name="fridy" style="margin-left:10px;" [(ngModel)]="fridy"/>
                                    FRI</label>
                            </div>
                            <div class="col-sm-1" style="margin-left:10px ">
                                    <label for="sat"><input type="checkbox" id="sat" name="saturdy" style="margin-left:10px;" [(ngModel)]="saturdy"/>
                                    SAT</label>
                             </div>
                             <div class="col-sm-1" style="margin-left:10px ">
                                    <label for="sun"><input type="checkbox" id="sun" name="sundy" style="margin-left:10px;" [(ngModel)]="sundy" />
                                    SUN</label>
                            </div>
                        </div>
               
                  </div>
  </div>
            
            <!-- Attribute panel -->
  <div class="panel panel-primary" style="border:solid 1px;border-color: lightgray"> 
            <legend style="margin-left:5px" >Amounts</legend>
            <div class="panel-body">
           
               
                    <div class="row" style="margin-top:-25px">
                        <div class="col-md-3">
                            <b>1 Adults</b>
                        
                            <div class="form-group">            
                                <input type="text" name="1adul" class="form-control input-sm" style="height: 4%" [(ngModel)]="onead">
                            </div>
                          </div>
                          <div class="col-md-3">
                                  <b>2 Adults</b>                                   
                                  <div class="form-group">            
                                      <input type="text" name="twoadd" class="form-control input-sm" style="height: 4%" [(ngModel)]="twoad">
                                  </div>                           
                          </div>
                          <div class="col-md-3">
                                  <b>3 Adults</b>
                                  <div class="form-group">            
                                      <input type="text" name="threead" class="form-control input-sm" style="height: 4%" [(ngModel)]="threead">
                                  </div>
                          </div> 
                          <div class="col-md-3">
                                  <b>4 Adults</b>
                                  <div class="form-group">            
                                      <input type="text" name="fouradu" class="form-control input-sm" style="height: 4%" [(ngModel)]="fourad">
                                  </div>
                          </div>
                          <!-- <div class="col-md-3" style="margin-top:-17px">
                                  <b>5 Adults</b>  
                                      <div class="form-group">            
                                          <input type="text" class="form-control input-sm" >
                                      </div>
                           </div> -->
                           <div class="col-md-3" style="margin-top:-17px">
                                  <b>ExtraAdults</b>
                                  <div class="form-group">            
                                      <input type="text" name="extra" class="form-control input-sm" style="height: 4%" [(ngModel)]="extraad">
                                  </div>
                              </div>
                    </div>
  
                
           
  <!--  -->
               
  
                    <div class="row">
                          <div class="col-md-3" style="margin-top:-17px">
                            <b>1 child</b>
                            <div class="form-group">            
                                <input type="text" name="onechild" class="form-control input-sm" style="height: 4%" [(ngModel)]="onech">
                            </div>
                          </div>
                          <div class="col-md-3" style="margin-top:-17px">
                                  <b>2 child</b>
                                  <div class="form-group">            
                                      <input type="text" name="twochildd" class="form-control input-sm" style="height: 4%" [(ngModel)]="twoch">
                                  </div>
                          </div>
                          <div class="col-md-3" style="margin-top:-17px">
                                  <b>Extrachild</b>
                                  <div class="form-group">            
                                      <input type="text" name="extrachild" class="form-control input-sm" style="height: 4%"  [(ngModel)]="extrach">
                                  </div>
                          </div>
                          <!-- <div class="col-md-3" style="margin-top:-17px">
                                  <b>4 children</b>
                                  <div class="form-group">            
                                      <input type="text" class="form-control input-sm" >
                                  </div>
                          </div> -->
  
  
                    </div>
            </div>
  </div>
        
  
                  
  
          </div>
  
  <!-- Amounts panel -->
  
          <div class="col-sm-7">
  
  
                       <!-- table content -->
                       <div class="table-responsive"  style="margin-top:0px">
                        <div class="scroll">
                          
                            <table class="table table-bordered table-hover" style="width:100%;">
                            
                              <thead style="background-color:#0077B5;color:white;">
                                <tr>
                                  <th>Start</th>
                                  <th>End</th>
                                  <th>Room Types</th>
                                </tr>
                              </thead>
                              <tbody style="font-size:12px;">
                                <tr *ngFor="let dettable of ratedettabl; let i=index" (click)="selectMembers1(dettable,i)"  [ngClass]="{'backGroundColor':i==selectindexx}">
                                    <td>{{dettable.start_date}}</td>     
                                    <td>{{dettable.end_date}} </td>
                                    <td>{{dettable.rooms_id}}</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                          </div><br><br>
                          <div class="panel panel-primary" style="border:solid 1px;border-color: lightgray;margin-bottom:15px"> 
                                <legend style="margin-left:5px" >Attributes</legend>
                                <div class="panel-body"  style="margin-bottom:-10px;margin-bottom:-0.5px;">
                                    <div class="row" style="margin-top:-10px;">
                                            <div class="col-md-2">
                                                <b>RoomTypes</b></div>
                                                <div class="col-md-3">
                                                        <div class="input-group">
                                                                <span class="input-group-addon" data-toggle="modal" data-target="#ratedetrmtypeday1"> <i class="glyphicon glyphicon-option-horizontal"></i>   </span>
                                                            <input name="roomtypeid" class="form-control input-sm"  style="width:180%;height: 27px;" [(ngModel)]="listtype" type="text" [value]="rmtype2" disabled>
                                                                  <!-- <option  *ngFor="let roomlist of room" [ngValue] = "roomlist.id">{{roomlist.type}}</option>  -->
                                                              <!-- </select> -->
                                                          </div> 
                                            </div>
                                            <!-- <div class="col-md-3">
                                                  <b>Market</b>
                                                  <div class="form-group">            
                                                      <select name="mark1" class="form-control input-sm" style="width:100%;">
                                                          <option>{{rateheader.market_id}}</option>
                                                      </select>
                                                  </div>
                                              </div>
                                              <div class="col-md-3">
                                                      <b>Source</b>
                                                      <div class="form-group">            
                                                          <select name="srcsour" class="form-control input-sm" style="width:100%;">
                                                             {{rateheader.source_id}}
                                                          </select>
                                                      </div>
                                                  </div> -->
  
                
                                      </div>
                                      <div class="row">
                                      </div>
                                      <div class="row">
                                          </div>
                                            
                
                                            
                
                                </div> </div> 
  
              
         
  </div>
  
          
  
      </div>
  
      </form >  
  
          
  
          <div class="col-md-2">
              <button type="button" class="btn btn-Info" style="width:110px;" data-toggle="modal" ><b>Changes</b></button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-Primary" style="width:110px;" data-toggle="modal" ><b>Repeat</b></button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-danger" style="width:110px;" data-toggle="modal" (click)="ratdetfun()"><b>Delete</b></button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-Warning" style="width:110px;" data-toggle="modal" ><b>New</b></button>
          </div>
          <div class="col-md-2">
                <button type="button" class="btn btn-Success" style="width:110px;" data-toggle="modal" data-target="#savemodel" (click)="ratedetins(ratecodedrop,seasoncod,strtdt,enddate,onead,twoad,threead,fourad,extraad,onech,twoch,extrach,mondy,tuesdy,wednesdy,thursdy,fridy,saturdy,sundy)" ><b>Save</b></button>              
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-danger" style="width:110px;" data-toggle="modal" ><b>Close</b></button>
          </div>
  
  
  
        </div>
        

      </div>
  <!-- **************************************rate details tab ends ************************************************-->
  <div class="modal fade" id="ratedetrmtypeday1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="vertical-alignment-helper">    
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-hover table-bordered table-striped" style="width:100%;">
                        <thead style="background-color: #0077B5; color: white">
                            <th>seq</th>
                            <th> Room Type</th> 
                            <th> Description</th>
                            <th>X</th>
                        </thead> 
                        <tbody> 
                            <tr *ngFor="let pack of room">
                                <td> <input type="checkbox" (checked)="exist2(pack)" (click)="toggleSelection2(pack)"> </td>                                
                                <td>{{pack.id}}</td>
                                <td>{{pack.type}} </td>
                                <td>{{pack.description}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="modal fade" id="ratedetrmtypeday2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="vertical-alignment-helper">    
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table-hover table-bordered table-striped" style="width:100%;">
                            <thead style="background-color: #0077B5; color: white">
                                <th>seq</th>
                                <th> Room Type</th> 
                                <th> Description</th>
                                <th>X</th>
                            </thead> 
                            <tbody> 
                                <tr *ngFor="let packk of room">
                                    <td> <input type="checkbox" (checked)="exist3(packk)" (click)="toggleSelection3(packk)"> </td>                                
                                    <td>{{packk.id}}</td>
                                    <td>{{packk.type}} </td>
                                    <td>{{packk.description}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>  
    </div>
      </div>
  
    </div>
  </div>
  

  <!-- alert after ratedetails save  -->


<!--  **************************************************alert after ratedetails save ends*******************************-->
<div class="modal fade" id="savemodel" role="dialog">
    <div class="vertical-alignment-helper">  
    <div class="modal-dialog vertical-align-center modal-sm">
    
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><b>Rate details insert message</b></h4>
        </div>
        <div class="modal-body">
            <p>{{ratedetalert}}</p>       
        </div>
        
            
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
        </div>  
        </div>
    
    </div>
    </div>
</div>
<div class="modal fade" id="delmodel" role="dialog">
    <div class="vertical-alignment-helper">  
    <div class="modal-dialog vertical-align-center modal-sm">
    
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><b>Rate Tier Message</b></h4>
        </div>
        <div class="modal-body">
            <p>{{delratalert}}</p>       
        </div>
        
            
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
        </div>  
        </div>
    
    </div>
    </div>
</div>
  