<div class="row" style="width:99%;">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="container-fluid" style="padding-top:20px;padding-left:50px;">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#rateheader"><b>Rate Header</b></a></li>
            <li><a data-toggle="tab" href="#ratedetails">Rate Detail</a></li>
            <li data-target="#"><a>Negotiated</a></li>
            <li data-target="#"><a>More</a></li>
      </ul>
      <div class="tab-content">
      <div id="rateheader" class="tab-pane fade in active" style="margin-top:10px;">
       <form>

       
        <div class="row">
        


        <div class="col-sm-6" style="padding-top:20px;">
            <div class="panel panel-primary">
                <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
           <b>Rate code</b>
            </div>
            <div class="col-sm-3">
                <select class="form-control input-sm"  style="width:150px;">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
              </div>
          </div>

          <div class="row" style="padding-top:5px;">
              <div class="col-sm-3">
             <b>Description</b>
              </div>
              <div class="col-sm-3">
                  <div class="form-group">            
                      <input type="text" class="form-control input-sm" style="width:150px;" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
               <b>Rate category</b>
                </div>
                <div class="col-sm-3">
                    <select class="form-control input-sm"  style="width:150px;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                  </div>
              </div>


              <div class="row" style="padding-top:5px;">
                  <div class="col-sm-3">
                 <b>Rate Class</b>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">            
                          <input type="text" class="form-control input-sm" style="width:150px;" >
                        </div>
                    </div>
                </div>


                <div class="row" style="padding-top:5px;">
                    <div class="col-sm-3">
                   <b>Begin Sell Date</b>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">            
                            <input type="date" class="form-control input-sm" style="width:150px;" >
                          </div>
                      </div>
                  </div>


                  <div class="row" style="padding-top:5px;">
                      <div class="col-sm-3">
                     <b>End Sell Date</b>
                      </div>
                      <div class="col-sm-3">
                          <div class="form-group">            
                              <input type="date" class="form-control input-sm" style="width:150px;" >
                            </div>
                        </div>
                    </div>


                    <div class="row" style="padding-top:5px;">
                        <div class="col-sm-3">
                       <b>Market</b>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control input-sm"  style="width:150px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                          </div>
                      </div>


                      <div class="row" style="padding-top:5px;">
                          <div class="col-sm-3">
                         <b>Source</b>
                          </div>
                          <div class="col-sm-3">
                              <select class="form-control input-sm"  style="width:150px;">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                </select>
                            </div>
                        </div>


                        <div class="row" style="padding-top:5px;">
                            <div class="col-sm-3">
                           <b>Room Types</b>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control input-sm"  style="width:150px;">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                  </select>
                              </div>
                          </div>


                          <div class="row" style="padding-top:5px;">
                              <div class="col-sm-3">
                             <b>Packages</b>
                              </div>
                              <div class="col-sm-3">
                                  <select class="form-control input-sm"  style="width:150px;">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row" style="padding-top:5px;">
                                <div class="col-sm-3">
                               <b>Commmission%</b>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">            
                                        <input type="text" class="form-control input-sm" style="width:150px;" >
                                      </div>
                                  </div>
                              </div>

    </div>
         </div> 
        </div>

        <div class="col-sm-6" style="padding-top:20px;">
            <!-- <div class="panel panel-primary">
                <div class="panel-body"> -->
            <div class="panel panel-primary">
                <div class="panel-heading">Transaction Details</div>
                <div class="panel-body">
                  
                    <div class="row" style="padding-top:5px;">
                        <div class="col-sm-3">
                       <b>TransactionCode</b>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control input-sm"  style="width:150px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                          </div>
                      </div>

                      <div class="row" style="padding-top:5px;">
                          <div class="col-sm-3">
                         <b>CurrencyCode</b>
                          </div>
                          <div class="col-sm-3">
                              <select class="form-control input-sm"  style="width:150px;">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                </select>
                            </div>
                        </div>

                </div>
              </div>


              <div class="panel panel-primary">
                  <div class="panel-heading">Components</div>
                  <div class="panel-body">
                      <div class="row" style="padding-top:5px;">

                          <div class="col-sm-1">
                              <div class="form-group">            
                                  <input type="checkbox" style="width:15px;height:15px;" >
                                </div>
                            </div>
                          <div class="col-sm-5">
                         <b>Negotiated</b>
                          </div>
                        
                        </div>


                        <div class="row" style="padding-top:5px;">

                            <div class="col-sm-1">
                                <div class="form-group">            
                                    <input type="checkbox" style="width:15px;height:15px;" >
                                  </div>
                              </div>
                            <div class="col-sm-5">
                           <b>Discount</b>
                            </div>
                          
                          </div>
                  </div>
                </div>


                <div class="panel panel-primary">
                    <div class="panel-heading">Sell Controls</div>
                    <div class="panel-body">
                        <div class="row" style="padding-top:5px;">
                            <div class="col-sm-5">
                                <b>Minimum Stay Through</b>
                                 </div>  
                            <div class="col-sm-1">
                                <div class="form-group">            
                                    <input type="text" style="width:120px;" >
                                  </div>
                              </div>
                       
                          
                          </div>
                    
                    </div>
                  </div>


          <!-- </div>
          </div> -->
          </div>

        
       </div>

       <div class="container-fluid">
         <div class="row">
           <div class="col-sm-1">

           </div>
           <div class="col-sm-1">
             <button type="button" class="btn btn-primary"><b>Deposited</b></button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary"><b>Deposited</b></button>
              </div>
              <div class="col-sm-1">
                  <button type="button" class="btn btn-info"><b>ShortInfo</b></button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info"><b>LongInfo</b></button>
                  </div>
                  <div class="col-sm-1">
                      <button type="button" class="btn btn-success" ><b>Availablity</b></button>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-warning" style="width:140%;"><b>Repeat</b></button>
                      </div>
                      <div class="col-sm-1">
                          <button type="button" class="btn btn-danger" style="width:140%;"><b>Delete</b></button>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary" style="width:140%;"><b>New</b></button>
                          </div>
                          <div class="col-sm-1">
                              <button type="button" class="btn btn-success" style="width:140%;"><b>Save</b></button>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-danger" style="width:140%;"><b>Close</b></button>
                              </div>
                              <div class="col-sm-1">
             
                                </div>
         </div>
       </div>

       
      </form>
      </div>



      <div id="ratedetails" style="margin-top:10px;" class="tab-pane fade in active">
        <div class="col-sm-4">

        

          <div class="panel panel-primary">
            <div class="panel-heading">Dates</div>
            <div class="panel-body">
                <div class="row" style="padding-top:5px;">
                  <div class="col-sm-4">
                      <b>Season Code</b>
                  </div>  
                  <div class="col-sm-6">
                      <div class="form-group">            
                          <select class="form-control input-sm" style="width:150px;">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                      </div>
                  </div>
              
                  
                </div>
            
            </div>
          </div>
        </div>

        <div class="col-sm-4">


        </div>

        <div class="col-sm-4">


        </div>



      </div>



    </div>

    </div>
  </div>
</div>
    