<div class="row" style="width:99%">
  <div class="col-md-2"></div>
  <div class="col-md-10">
      <br>
<div class="container-fluid">
  <div class="jumbotron" style="background-color: #0077B5;color: white; ">
    <div class="row">

        <div class="col-sm-4">
           <b> First Name</b> <div class="input-group">
                <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="name" class="form-control" [(ngModel)]="queryString"></div>
        </div>
  
        <div class="col-sm-4">
  
            <b>Last Name</b> <div class="input-group">
                <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="name" class="form-control"></div>
        </div>
        
          <div class="col-sm-4">
              <b>Company</b> <div class="input-group">
                <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="name" class="form-control"></div>
  
            </div>
      
  
          </div>
  
          <div class="row" style="padding-top:10px;">
  
              <div class="col-lg-4">
                  <b>Contact</b> <div class="input-group">
                       <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-phone"></i></span>
                       <input type="text" class="form-control"></div>
               </div>
  
        <div class="col-lg-4">
            <b>Arrival From</b> <div class="input-group">
                 <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span>
                 <input type="date" class="form-control"[(ngModel)]="startDate" (change)="filterDatefrmList(startDate,endDate)"></div>
         </div>
   
         <div class="col-lg-4">
   
             <b>Arrival To</b> <div class="input-group">
                 <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-calendar"></i></span>
                 <input type="date" class="form-control" [(ngModel)]="endDate" (change)="filterDatefrmList(startDate,endDate)"></div>
         </div>
        
  
      
  
          </div>
  
  
          <div class="row" style="padding-top:10px;">
  
            <div class="col-lg-4">
              <b>Group</b> <div class="input-group">
                   <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                   <input type="text" id="name" class="form-control"></div>
           </div>
           
        
              <div class="col-lg-4">
        
                  <b>Source</b> <div class="input-group">
                      <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                      <input type="text" id="name" class="form-control"></div>
              </div>
            
              <div class="col-lg-4">
                    <b>Agent</b> <div class="input-group">
                      <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>
                      <input type="text" id="name" class="form-control"></div>
        
                  </div>
            
        
                </div>  

<br>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-2">
  <button class="btn btn-info" style="width: 100%" routerLink="/arrival">Advance  </button>    
</div>
<div class="col-md-2">
  <button class="btn btn-warning" style="width: 100%">Clear </button>   
</div>
<div class="col-md-2">
  <button class="btn btn-success" style="width: 100%"routerLink="/reservation">Walk-in </button>   
</div>
<div class="col-md-3"></div>

</div>
</div>
</div>
<br>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-bordered table-hover ">
      <thead>
          <tr class="table table-primary" style="background-color: #0077B5;color: white ">
                <th> </th>
                <th> Reservation_Id</th>                        
                <th> Name</th>
                <th> Room</th>
                <th> Extension</th>
                <th> Room_Type</th>
                <th> Arrival_Date</th>
                <th> Departure_Date</th>
                <th> Nights</th>
                <th> Status</th>
                <th> Group</th>
                <th> Adults</th>                        
                <th> Child</th>
                <th> Rate_Code</th>
                <th> Rate</th>
                <th> Block_Code</th>
                <th> Packages</th>
                <th> Rtc</th>
                <th> Currency</th>
                <th> ETA</th>
                <th> Resv_Type</th>
                <th> Market</th>
                <th> Source</th>            
                <th> Origin</th>            
                <th> Payment</th>            
                <th> CreditCard_Number</th>            
                <th> Exp_Date</th>            
                <th> Guest_Balance</th>            
                <th> Disc_Amount</th>            
                <th> Disc_perc</th>  
                <th> Disc_Reason</th>            
                <th> Specials</th>            
                <th> Comments</th>            
                <th> Item_Inv</th>            
                          
              </tr>
      </thead>
      <tbody>
        <tr *ngFor="let searched of searchandedit|filterdata: queryString :'pf_firstname'|filterdata: query :'pf_firstname'|filterdata: qsource :'res_source'|filterdata: qdate :'res_arrival'|filterdata: qdateto :'res_arrival' ; let i = index" 
        (click)="selectMembersEdit(searched,i)" [ngClass]="{'backGroundColor':i==selectindex}">
          <td>{{i+1}}</td> 
          <td> {{searched.res_id}}</td>
          <td> {{searched.pf_firstname}}</td>
          <td> {{searched.res_room}} </td>
          <td> {{searched.res_extension}} </td>
          <td> {{searched.res_room_type}} </td>
          <td> {{searched.res_arrival}} </td> 
          <td> {{searched.res_depature}} </td>
          <td> {{searched.res_nights}} </td>
          <td> {{searched.res_guest_status}} </td>
          <td></td>     
          <td> {{searched.res_adults}}</td> 
          <td> {{searched.res_child}}</td>     
          <td> {{searched.res_rate_code}}</td>     
          <td> {{searched.res_rate}}</td>     
          <td> {{searched.res_block_code}}</td> 
          <td> {{searched.res_packages}}</td>     
          <td> {{searched.res_rtc}}</td>     
          <td> {{searched.res_currency}}</td>     
          <td> {{searched.res_eta}}</td>
          <td> {{searched.res_res_type}}</td>     
          <td> {{searched.res_market}}</td> 
          <td> {{searched.res_source}}</td>     
          <td> {{searched.res_origin}}</td>     
          <td> {{searched.res_payment}}</td>     
          <td> {{searched.res_creditcard_number}}</td>     
          <td> {{searched.res_exp_date}}</td>     
          <td> {{searched.res_guest_balance}}</td>     
          <td> {{searched.res_disc_amount}}</td>     
          <td> {{searched.res_disc_perc}}</td>
          <td> {{searched.res_disc_reason}}</td>     
          <td> {{searched.res_specials}}</td>     
          <td> {{searched.res_comments}}</td>     
          <td> {{searched.res_item_inv}}</td>
        </tr>
                                                                                                                          
      </tbody>
    </table>
    </div>
</div>
<br>

<div>
  <button class="btn btn-info" style="width:15%;margin-left: 2%" routerLink="/reservation">New </button>    
  <button class="btn btn-primary"style="width:15%" (click)="checkinProfile()" data-toggle="modal" data-target="#Checkin" [disabled]=chin>Check-in </button>    
  <button class="btn btn-success" style="width:15%">Reg. Card </button>   
  <button class="btn btn-info" style="width:15%" routerLink="/psearch"> Profile </button>   
  <button class="btn btn-primary" style="width:15%" routerLink="/reservationoption" [disabled]=option> Options</button>   
  <button class="btn btn-danger" style="width:15%" routerLink="/mains"> Close </button>   

  </div>

<br><br>
</div>
</div>


<!---checkin-->

        <!-- Checkin modal -->
      
        <div class="modal fade" id="Checkin" role="dialog" >
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content" style="width:150%;">
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Checkin Status</h4>
                          </div>
                    <div class="modal-body">  
                        <div>    
                    <p align="center"><b> {{status}} </b></p>
                </div>
                </div>
                <div class="modal-footer">
                  
               <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
                </div>
              </div>
              
            </div>
        </div>
      <!-- Checkin end -->