/* .scrollhid{
    overflow-x: hidden;
} */

/* .modal {
    text-align: center;
  padding: 0!important;
} */
/* .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
} */

/* .vertical-align-center {
    
    display: table-cell;
    vertical-align: middle;
} */
/* .modal-content {
   
    width:inherit;
    height:inherit;
    
    margin: 0 auto;
} */
.backGroundColor{
    background-color:#D3D3D3;
}
/* .form-control{
    margin-bottom: 5%;
    
} */
 table{

    font-size:16px;
   
   }

   /* .table-responsive {

    height:50%;
    width:101%;
    overflow-y: auto; 
   
    } */

   /* .scroll2 {

    height:40%;
    width:100%;
    overflow-x: auto;
     overflow-y: auto; 
    }  */

