
<div class="scrollhid">

  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
  <div class="row" style="margin-top:1%;">
  
  <div class="container">
  <div class="jumbotron" style="background-color:0077B5;color:white;margin-top:10px;margin-bottom: 1%;padding-top:10px;padding-bottom:1px;width:96%;margin-left:1%;">
  
         
    <form style="margin-bottom: 1px;">
        <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-3">
                  <label for="room">Room</label>
                </div>
                <div class="col-md-9">
                  <div class="form-group">            
                    <input type="text" class="form-control input-sm" [(ngModel)]="room" name="room" style="height:27px;width: 70%;">
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-md-3">
                <div class="row">
                  <div class="col-md-3">
                    <label for="room">Name</label>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">            
                      <input type="text" class="form-control input-sm" [(ngModel)]="personname" name="personname" style="height:27px;width: 70%;">
                    </div>
                  </div>
                </div>
                  
              </div>
  
              <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-3">
                      <label for="room">Group</label>
                    </div>
                    <div class="col-md-9">
                      <div class="form-group">            
                        <input type="text" class="form-control input-sm" style="height:27px;width:70%;">
                      </div>
                    </div>
                  </div>
                    
                </div>
              
                <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="room">Company</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group">            
                          <input type="text" class="form-control input-sm" [(ngModel)]="company" name="company" style="height:27px;width: 70%;">
                        </div>
                      </div>
                    </div>
                      
                  </div>
            </div>
  
            <div class="row">
  
                <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="room">Party</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group">            
                          <input type="text" class="form-control input-sm" style="height:27px;width:70%;">
                        </div>
                      </div>
                    </div>
                </div>
        
                
                  <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-3">
                          <label for="room">Block</label>
                        </div>
                        <div class="col-md-9">
                          <div class="form-group">            
                            <input type="text" class="form-control input-sm" style="height:27px;width: 70%;">
                          </div>
                        </div>
                      </div>
                  </div>
  
                    <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-3">
                            <label for="room">Res.Type</label>
                          </div>
                          <div class="col-md-9">
                            <div class="form-group">            
                                <select class="form-control input-sm" id="sel1" style="width:70%;height:27px;">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                  </select>
                            </div>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-md-3">
                          <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-1">
                                <input type="checkbox" class="form-control input-sm" style="width:15px;height:15px;">
                            </div>
                            <div class="col-md-8">
                              <div class="form-group">            
                                  <label for="room">Open Balance</label>
                              </div>
                            </div>
                          </div>
                      </div>
            </div>
  
            <div class="row">
                <div class="col-md-3">
                  <label><b><u>Arrival</u></b></label>
                </div>
                <div class="col-md-3">
                  <label><b><u>Departure</u></b></label>
                </div>
                <div class="col-md-3">
                  <label><b><u>Status</u></b></label>
                </div>
            </div>
  
            <div class="row">
                
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                          <label for="room">From</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group">            
                          <input type="date" class="form-control input-sm" style="width:70%;height:27px;" >
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                          <label for="room">From</label>
                      </div>
                      <div class="col-md-9">
                        <div class="form-group">            
                          <input type="date" class="form-control input-sm" style="width:70%;height:27px;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                                    
              </div>

                  <div class="col-md-6">
                    <div class="row">
                      
                          <div class="col-md-1 col-sm-1 col-xs-1">
                            <input type="checkbox" [(ngModel)]="checkboxflg.checkstay" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkstay,'STAY OVER')" name="stay">
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3">
                            <label>StayOver</label>
                          </div>
                        
                          <div class="col-md-1 col-sm-1 col-xs-1">
                            <input type="checkbox" [(ngModel)]="checkboxflg.checkdue" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkdue,'DUE OUT')" name="chkdue">
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3">
                            <label>Due Out</label>
                          </div>
      
                          <div class="col-md-1 col-sm-1 col-xs-1">
                              <input type="checkbox" [(ngModel)]="checkboxflg.checkout" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkout,'CHECKED OUT')" name="chkout">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                              <label>Checked Out</label>
                            </div>
                        </div>
                     
                  </div>

            </div>

            <div class="row">
  
              <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-3">
                            <label for="room">To</label>
                        </div>
                        <div class="col-md-9">
                          <div class="form-group">            
                            <input type="date" class="form-control input-sm" style="width:70%;height:27px;">
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-3">
                              <label for="room">To</label>
                          </div>
                          <div class="col-md-9">
                            <div class="form-group">            
                              <input type="date" class="form-control input-sm" style="width:70%;height:27px;">
                            </div>
                          </div>
                        </div>
                      </div>
    
                    </div>
                                      
                </div>  

                <div class="col-md-6">
                  <div class="row">
                    
                        <div class="col-md-1 col-sm-1 col-xs-1">
                          <input type="checkbox" [(ngModel)]="checkboxflg.checknoshow" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checknoshow,'NO SHOWS')" name="checkshow">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>No shows</label>
                        </div>
                      
                        <div class="col-md-1 col-sm-1 col-xs-1">
                          <input type="checkbox" [(ngModel)]="checkboxflg.checkcancel" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkcancel,'CANCELLATION')" name="checkcan">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>Cancellations</label>
                        </div>
    
                        <div class="col-md-1 col-sm-1 col-xs-1">
                            <input type="checkbox" [(ngModel)]="checkboxflg.checkopen" [checked]="checkselectClr" (change)="filtercheckboxData(checkboxflg.checkopen,'OPEN FOLIO  ')" name="checkopn">
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2">
                            <label>OpenFolio</label>
                          </div>
                          <div class="col-md-1 col-sm-1 col-xs-1">
                            <button type="button"  class="btn btn-success" style="border-radius: 6px;"><b>Clear
                            </b></button>
                          </div>
                      </div>
                   
                </div>

              </div>
                
            
  <!-- <hr style="margin-top:1px;margin-bottom:2px;">  -->
  
            <!-- <div class="row">
              <div class="col-md-6">
                <div class="row">
                  
                      <div class="col-md-1 col-sm-1 col-xs-1">
                        <input type="checkbox">
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>StayOver</label>
                      </div>
                    
                      <div class="col-md-1 col-sm-1 col-xs-1">
                        <input type="checkbox">
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>Due Out</label>
                      </div>
  
                      <div class="col-md-1 col-sm-1 col-xs-1">
                          <input type="checkbox">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <label>Checked Out</label>
                        </div>
                    </div>
                 
              </div>

              <div class="col-md-6">
                <div class="row">
                  
                      <div class="col-md-1 col-sm-1 col-xs-1">
                        <input type="checkbox">
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>No shows</label>
                      </div>
                    
                      <div class="col-md-1 col-sm-1 col-xs-1">
                        <input type="checkbox">
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>Cancellations</label>
                      </div>
  
                      <div class="col-md-1 col-sm-1 col-xs-1">
                          <input type="checkbox">
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <label>OpenFolio</label>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1">
                          <button type="button"  class="btn btn-success" style="border-radius: 6px;"><b>Clear
                          </b></button>
                        </div>
                    </div>
                 
              </div>
      
  
             
            </div> -->
  
            <!-- <div class="row">
                
  
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <button type="button"  class="btn btn-success" style="border-radius: 6px;"><b>Clear
                    </b></button>
                </div>
               
              </div>
             -->
    </form>
  
  <!-- <div class="row">
  <div class="col-md-9">
  
  </div>
  
  <div class="col-md-2" > -->
      <!-- <contextmenu #contextmenu>
          <div class="dropdown open">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">save</a><br>
              <a class="dropdown-item" href="#">Another action</a><br>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </contextmenu> -->
  
        <!-- <ul class="list-group">
              <li class="list-group-item"
                [contextmenu]="[contextmenu, {item: item}]"
                *ngFor="let item of list; let i = index;" class="list-group-item"
              >
                {{item.label}} ({{item.id}})
              </li>
            </ul> -->
      
      <!-- </div>
  
            
  </div> -->
  </div>
  <br>
  
  <div class="container">
      <div class="table-responsive">
    <table class="table table-bordered table-hover" style="width:96%;">
      <thead style="background-color:#0077B5;color:white;">
        <tr>
          <th>Room</th>
          <th>Name</th>
          <th>Alt.Name</th>
           <th>Arrival</th>
          <th>Departure</th>
          <th>Balance</th>
          <th>Status</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items |filterdata: personname :'Name' |  filterdata: room :'Room'|  filterdata: company :'Company';let i=index " (click)="selectMembersEdit(item,i)"  
      [ngClass]="{'backGroundColor':i==selectindex}" style="padding-top:2px;padding-bottom:2px;padding-left:2px;padding-right:2px;font-size:small;">

      <tr>
        <td >{{item?.Room}}</td>
        <td>{{item?.Name}}</td>
        <td>{{item?.Alt_name}}</td>
        <td>{{item?.Arrival}}</td>
        <td>{{item?.Departure}}</td>
        <td>{{item?.Balance}}</td>
        <td>{{item?.Status}}</td>
        <td>{{item?.Company}}</td>
      </tr>  
      
        <!-- <tr> 
          <td>527</td>
          <td>Enderby</td>
          <td></td>
           <td>16-04-2018</td>
          <td>20-04-2018</td>
          <td>275.00</td>
           <td>CHECKED IN</td>
          <td>Metro Design</td>
          
        </tr>
        <tr>
          <td>527</td>
          <td>Enderby</td>
          <td></td>
           <td>16-04-2018</td>
          <td>20-04-2018</td>
          <td>275.00</td>
           <td>CHECKED IN</td>
          <td>Metro Design</td>
          
        </tr>
        <tr>
          <td>527</td>
          <td>Enderby</td>
          <td></td>
           <td>16-04-2018</td>
          <td>20-04-2018</td>
          <td>275.00</td>
           <td>CHECKED IN</td>
          <td>Metro Design</td>
          
        </tr>
        
              <tr>
                <td>527</td>
                <td>Enderby</td>
                <td></td>
                 <td>16-04-2018</td>
                <td>20-04-2018</td>
                <td>275.00</td>
                 <td>CHECKED IN</td>
                <td>Metro Design</td>
          
        </tr>
        
              <tr>
                <td>527</td>
                <td>Enderby</td>
                <td></td>
                 <td>16-04-2018</td>
                <td>20-04-2018</td>
                <td>275.00</td>
                 <td>CHECKED IN</td>
                <td>Metro Design</td>
          
        </tr>
        
              <tr>
                <td>527</td>
                <td>Enderby</td>
                <td></td>
                 <td>16-04-2018</td>
                <td>20-04-2018</td>
                <td>275.00</td>
                 <td>CHECKED IN</td>
                <td>Metro Design</td>
          
        </tr> -->
              
      </tbody>
    </table>
    </div>
  </div>
  
  
  <div class="container">
    <form class="form-inline">

      <div class="row">
        <div class="col-md-1"></div>
            <button type="button" class="btn btn-primary" style="width:110px;margin-left:5%;" routerLink="/billing"><b>Billing</b></button>
        
    
       
            <button type="button" class="btn btn-Warning" style="width:110px;margin-left:2%;" data-toggle="modal" ><b>C/O All</b></button>
    
            <button type="button" class="btn btn-Basic" style="width:110px;margin-left:2%;" data-toggle="modal" ><b>C/O zero</b></button>
    
            <button type="button" class="btn btn-success" style="width:110px;margin-left:2%;" data-toggle="modal" data-target="#checkout"><b>Check Out</b></button>
        
    
          <button type="button" class="btn btn-info" style="width:110px;margin-left:2%;" data-toggle="modal" data-target="#foliohistorymodal"><b>Folio History</b></button>

            <button type="button" class="btn btn-danger" style="width:110px;margin-left:2%;" routerLink="/mains"><b>Close</b></button>

      </div>
    </form>
  </div>
  
  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- *********************************************************************************************************** -->
  <!-- checkout Modal -->
  <div class="modal fade" id="checkout"  role="dialog">
      <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center">
      
        <!-- checkout Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" >RESLU - Payment [ {{checkname}} ]</h4>
          </div>
          <div class="modal-body">
            
              <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row">
  
                      <div class="col-sm-6">
                        <b>Payment Code</b>
                      </div>
                      <div class="col-sm-6">
                          <select style="height:30px;width:130%;" name="paycode" [(ngModel)]="checkout.selected" (change)="selectoption(checkout.selected)">
                              <option value="9001">9001</option>
                              <option value="9002">9002</option>
                              <option value="9003">9003</option>
                            </select>
  
                          </div>
                        </div>
                        </div>
                        <div class="col-sm-3" style="color:#0077B5;">
                            <div *ngIf="showdiv=='9001'">cash</div>
                            <div *ngIf="showdiv=='9002'">credit card</div>
                            <div *ngIf="showdiv=='9003'">Direct Bill</div>
                            </div>
                      
                    </div><br>
  
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="col-sm-6">
                          <b>Currency</b>
                        </div>
                        <div class="col-sm-6">
                            <select style="height:30px;width:150%;" [(ngModel)]="checkout.currency">
                              <option *ngFor="let list of money" [ngValue]="list.transaction_currency_id">{{list.currency}}</option>
                              </select>
                          </div>
                        </div>
                      </div>
                  </div>
                </div> 
  
                <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-6">
                        <div class="col-sm-6">
                          <b>Amount</b>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="curr" style="width:150%;height:30px;" [(ngModel)]="checkout.amount">
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="panel panel-default">
                      <div class="panel-body">
                            <div class="row" *ngIf="showdiv=='9001'" >
                              <div class="col-sm-6">
                              <div class="col-sm-6">
                                <b>Reference</b>
                              </div>
                              <div class="col-sm-6">
                                  <input type="text" name="reff" style="width:150%;height:30px;" [(ngModel)]="checkout.ref">
                              </div>
                              </div>
                            </div>
                            <div class="row" *ngIf="showdiv=='9002'">
                              <div class="col-sm-6">
                              <div class="col-sm-6">
                                <b>Credit card No.</b>
                              </div>
                              <div class="col-sm-6">
                                  <input type="text" name="cardnum" style="width:150%;height:30px;" [(ngModel)]="checkout.cardno">
                                </div>
                            </div>
  
                            <div class="col-sm-6">
                                <div class="col-sm-2">
                                  <b>Expiry Date</b>
                                </div>
                                
                                <div class="col-sm-10">
                                  <div class="row">
                                    <div class="col-sm-6">  
                                        <app-monthpicker (change)="onMonthChange($event.target.value)" [(ngModel)]="mbc.PF_Expiration_Month"> </app-monthpicker>
                                    </div>
                                    
                                    <div class="col-sm-6"> 
                                         <app-yearpicker (change)="onYearChange($event.target.value)" [(ngModel)]="mbc.PF_Expiration_Year"></app-yearpicker>
                                         {{mbc.PF_Expiration_Month}}        
                                      <!-- <input type="text" class="form-control"  [(ngModel)]="mbc.PF_Expiration_Date" style="width:200px;"> -->
                                    </div>
                                  </div>
                                  </div>
                              </div>
                            </div>
                            <div class="row" *ngIf="showdiv=='9003'">
                              <div class="col-sm-3">
                                <b>Supplement</b>
                              </div>
                              <div class="col-sm-4">
                                  <input type="text" name="sup" style="width:150%;height:30px;" [(ngModel)]="checkout.supp">
                                </div>
                              </div><br>
                                <div class="row" *ngIf="showdiv=='9003'">
                                <div class="col-sm-3">
                                    <b>Reference</b>
                                  </div>
                                  <div class="col-sm-4">
                                      <input type="text" name="referen" style="width:150%;height:30px;" [(ngModel)]="checkout.ref">
                                    </div>
                            </div>
                          
                      </div>
                    </div>
               </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" (click)="checkoutpost(checkout)"><b>Post</b></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
          </div>
        </div>
        
        
      </div>
    </div>
    </div>

<!--**************************************************************checkout Modal ends**************************************************************************************-->

    <!-- foliohistory Modal content-->
    <div class="modal fade" id="foliohistorymodal" role="dialog">
        <div class="modal-dialog modal-lg">
        
          <!-- Modal content-->
          <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4>Folio History</h4>
          </div>
          <div class="modal-body">
          <!-- <b align="center">{{profile}}</b> -->
           
            
      <div class="container-fluid" style="background-color: #0077B5;color: white;Width:99%;">
        <br>
              <div class="row" style="width:99%;">
                  <div class="col-md-4">
                  <div class="from-group" style="margin-left: 10px;">
                  <label for="name">Date</label>
                  <input type="date" class="from-control input-sm" style="width: 66%;">
                  </div>

               </div>
              <div class="col-md-4">
              <div class="from-group">
                <label for="name">Folio.No</label>
                <input type="text" class="from-control input-sm">
              </div>
                </div>
                <div class="col-md-4">
                    <div class="from-group">
                      <label for="name">FirstName</label>
                      <input type="text" class="from-control input-sm">
                    </div>
                    </div>
                </div>
                <br>
              <div class="row">
              <div class="col-md-4">
                 <div class="from-group">
                   <label for="name">Room</label>
                   <input type="text"class="from-control input-sm">
                 </div>
                </div>
                <div class="col-md-4">
                   <div class="from-group" style="margin-left: 4px;">
                     <label for="name">Name</label>
                     <input type="text" class="from-control input-sm">
                   </div>
                  </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                    <div class="custom-control custom-checkbox"style="margin-left: 5px;">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">Check Out</label>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">Passer By</label>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                          <label class="custom-control-label" for="customCheck">AR</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                            <label class="custom-control-label" for="customCheck">NoShow</label>
                          </div>
                      </div>
              </div>
             </div>
             <br>
             <div class="continer-fluid">
               <div class="responsive-table">
                 <table class="table table-bordered table-hover">
                   <thead style="background-color: #0077B5;color:white;">
                     <tr>
                       <th>Folio.No</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Wnd</th>
                        <th>Folio Amount</th>
                        <th>Payee Name</th>
                        <th>Invoice</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of folio; let i=index">
                            <td>{{item.FolioNo}}</td>
                            <td>{{item.Date}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Wnd}}</td>
                            <td>{{item.FolioAmount}}</td>
                            <td>{{item.payeeName}}</td>
                            <td>{{item.Invoice}}</td>
                          </tr>
                        </tbody>
                     
                  
                 </table>
               </div>
             </div>
           
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary"style="width: 10%;" data-dismiss="modal"><b>Folio</b></button>
            <button type="button" class="btn btn-danger" style="width: 10%;" data-dismiss="modal"><b>Close</b></button>
          </div>
          </div>
          
        </div>
        </div>
    <!-- ********************************************************foliohistory modal ends********************************************************************************** -->