.scrollhid{
    overflow-x: hidden;
}
.modal {
    text-align: center;
  padding: 0!important;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
.backGroundColor{
    background-color:#D3D3D3;
}
.form-control{
    margin-bottom: 5%;
    
}
table{

    font-size:16px;
   
   }

   .table-responsive {

    height:40%;
    width:100%;
    /* overflow-x: auto; */
     overflow-y: auto; 
   }

   