
 <div class="row" style="width: 99%;">
  <div class="col-md-2"></div>
  <div class="col-md-10">
  <div class="panel panel-primary" style="margin-left: 16px;margin-top: 10px;">
  <div class="panel-body" >
 <div class="container-fluid" style="padding-top:50px;">
 <div  style="padding-top:10px;padding-bottom:20px;">
  <!-- <form #f="ngForm">    -->
     <div class="row" style="margin-top: -75px">

     <div class="col-sm-4">
        <b>First Name</b> <div class="input-group">
             <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
             <input type="text" [(ngModel)]="queryString" class="form-control" name="queryString"></div>
     </div>

     <div class="col-sm-4">

         <b>Last Name</b> <div class="input-group">
             <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-user"></i></span>
             <input type="text" [(ngModel)]="lastname" class="form-control" name="lastname"></div>
     </div>
   
     <div class="col-sm-4">
           <b>Mobile No</b> <div class="input-group">
             <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-phone"></i></span>
             <input type="text" class="form-control" [(ngModel)]="mobile" style="width: 90%"></div>

         </div>
   

       </div>

   
   
   <div class="row" style="padding-top:10px;margin-top: -10px;">
   
   <div class="col-lg-4">
    <b>City</b> <div class="input-group">
             
      <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>  
             <input type="text" [(ngModel)]="city" class="form-control"  name="city" >

       </div>
     </div>

     <div class="col-lg-4">
         <b>Postal Code</b> <div class="input-group">
            <span class="input-group-addon" style="background-color:#0077B5;color:white;"><i class="glyphicon glyphicon-edit"></i></span>              
            <input type="text" [(ngModel)]="postal" class="form-control"  class="form-control">

            </div>
          </div>
   
   <div class="col-lg-4">
     <b>View By</b>
     <div class="input-group">
     <select [(ngModel)]="pftypeselection" (ngModelChange)="onSelect(pftypeselection)" style="width:295px;height:35px;color:black;"> 
      <option *ngFor="let option of options" 
              [ngValue]="option.profiletype"> 
              {{option.profiletype}}
      </option>
 </select>
</div>
   </div>
   
</div>



<div class="row" style="padding-top:0px;margin-bottom: -20px">

<div class="col-lg-4">
 
<input type="checkbox"><b style="padding-left:5px;">Neg.Rates</b>
</div>
<!-- <div class="col-lg-3"></div> -->
<div class="col-lg-4">
 
   <input type="checkbox"><b style="padding-left:5px;">Show Inactive</b>
 </div>
         
     <div class="col-lg-2">
   <!-- <button type="button" class="btn btn-warning" routerLink="/stables"><b>Search</b><span class="glyphicon glyphicon-search" style="padding-left:5px;"></span></button> -->
</div>

 <div class="col-lg-4">
<button type="reset" class="btn btn-success" (click)="clear()"><b>Clear</b></button>
</div> 
</div></div></div>
  <!-- </form>  -->
 </div>

 </div>



 <div class="container-fluid">
      <div class="scrollable2">
   <table class="table table-bordered table-hover">
     <thead style="background-color:#0077B5;color:white;">
       <tr>
          <th>No</th>
          <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Language</th>
          <th>Title</th>
          <th>MobileNo</th>
          <th>Address</th>
          <th>HomeAddress</th>
          <th>City</th>
          <th>PinCode</th>
          <th>Country</th>
          <th>State</th>
          <th>VIP</th>
          <th>Nationality</th>
          <th>DateOfBirth</th>
          <th>Pwd</th>
          <th>ProfileType</th>
          <th>CommunicationType1</th>
          <th>CommunicationType2</th>
          <th>CommunicationType3</th>
          <th>Owner</th>
          <th>Territory</th>
          <th>A/RNumber</th>
          <th>Currency</th>
          <th>Account</th>
        
       </tr>
     </thead>
     <tbody>
       <tr  *ngFor="let profilesearch of profile1| filterdata: queryString :'pf_firstname'| filterdata: lastname :'pf_lastname'| filterdata: city :'pf_city'
      | filterdata: postal :'pf_postalcode' |  filterdata: mobile :'pf_mobileno'; let i = index " 
      (click)="selectMembersEdit(profilesearch,i)" [ngClass]="{'backGroundColor':i==selectindex}">
       <td>{{i+1}}</td>
       <td>{{profilesearch?.pf_id |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_firstname |titlecase}}</td>
       <td  align="center">{{profilesearch?.pf_lastname |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_language  |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_title |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_mobileno}}</td>
       <td align="center" >{{profilesearch?.pf_company_address }}</td>
       <td align="center">{{profilesearch?.pf_business_address |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_city |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_postalcode}}</td>
       <td align="center">{{profilesearch?.pf_company_country |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_company_state |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_individual_vip |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_nationality |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_date_of_birth}}</td>
       <td align="center">{{profilesearch?.pf_passport}}</td>
       <td align="center">{{profilesearch?.pf_type |titlecase}}</td>
       <td align="center">{{profilesearch?.pf_individual_commtype1}}</td>
       <td align="center">{{profilesearch?.pf_individual_commtype2}}</td>
       <td align="center">{{profilesearch?.pf_individual_commtype3}}</td>
       <td align="center">{{profilesearch?.pf_owner}}</td>
       <td align="center">{{profilesearch?.pf_territory}}</td>
       <td align="center">{{profilesearch?.pf_ar_number}}</td>
       <td align="center">{{profilesearch?.pf_ref_currency}}</td>
       <td align="center">{{profilesearch?.pf_account}}</td>
        </tr>
       
     </tbody>
   </table>
 </div>
</div>    <br> 
 <div class="container-fluid">
  <div class="row">
    <!-- <div class="col-lg-1"></div> -->
<div class="col-lg-2">
 <button type="button" class="btn btn-warning" style="width:160px;"><b>Enrollment</b></button>
 <!-- <button type="button" class="btn btn-success" (click)="clearSearch()"><b>Clear</b></button> -->
</div>

<div class="col-lg-2">
 <button type="button" class="btn btn-success" routerLink="/reservation" style="width:160px;" [disabled]=res><b>Reservation</b></button>
</div>

<div class="col-lg-2">
 <button type="button" class="btn btn-primary" routerLink="/individualprofile" style="width:160px;"  [disabled]=new><b>New</b></button>
</div>

<div class="col-lg-2">
 <button type="button" class="btn btn-info" routerLink="/modal-basic" style="width:160px;"  [disabled]=option><b>Options</b></button>
</div>

<div class="col-lg-2">
  <button type="button" class="btn btn-success" style="width:160px;" (click)="navigatepages()" [disabled]=ok><b>Ok</b></button>
</div>

<div class="col-lg-2">
    <button type="button" class="btn btn-success" routerLink="/modal-basic" style="width:160px;" [disabled]=edit><b>Edit</b></button>
   </div>
   

<!-- <div class="col-lg-2">
 <button type="button" class="btn btn-danger" style="width:160px;"><b>Close</b><span class="glyphicon glyphicon-remove" style="padding-left:5px;"></span></button>
</div> -->



  </div>
 
 </div>
</div>
</div>
