#div1 {
    width: 470px;
    height: 90px;
    border: 1px solid white;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;
}


#div2 {
    width: 470px;
    height: 90px;
    border: 1px solid white;
     padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;
}


.backgroundcolor{
    background-color: lightgray;
}
tbody {
    display:block;
    height:200px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}