<div class ="row" style="width:99%;margin-left:10px;">
  <div class=" col-md-2"></div>
  <div class="col-md-10">
     <!-- <div class="row"> --> 
       
    <div class="container-fluid" style="background-color: #0077B5;color: white; margin-left: 18px;margin-top: 20px;">
      <div class="col-md-1"></div>
    <div class ="col-md-3">
  
        <div class="form-group" style="width:82%;">
            <label for="room">Name</label>
            <input type="text"name="Name" class="form-control input-sm"[(ngModel)]="Name" >
        </div>
        <div class="form-group" style="width:82%;">
            <label for="room">Start Date</label>
            <input type="date"Name="StartDate" class="form-control input-sm"[(ngModel)]="StartDate">
          </div>
        

  
  </div>
  <div class ="col-md-1"></div>
  <div class ="col-md-3">
      <div class="form-group" style="width:82%;">
      <label for="room">Block Code</label>
      <input type="text"name="BlockCode" class="form-control input-sm" [(ngModel)]="BlockCode" >
  </div>
  <div class="form-group" style="width:82%;">
      <label for="room">End Date</label>
      <input type="date"Name="Enddate" class="form-control input-sm"[(ngModel)]="EndDate">
    </div>

    
  </div>
  <div class ="col-md-1"></div>
  <div class ="col-md-3">
      <!-- <div class="form-group" style="width:82%;">
          <label for="room" disabled>Stay Date</label>
          <input type="date" class="form-control input-sm">
        </div> -->
        <div class="form-group" style="width:82%;">
            <label for="name">Status</label>
          <select class="form-control input-sm" id="sel1" style="width:150px;">
             <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
           </select>
         </div>
    
  </div>
</div>
<br><br>

<div class="container-fluid">
  
  <div class ="table-responsive">
    <table class="table table-bordered table-hover">
      <thead style="background-color: #0077B5;color:white;">
        <tr>
          <th>Seq</th>
          <th>Blockid</th>
          <th> StartDate</th>
          <th> Nights</th>
          <th> EndDate</th>
          <th> RoomsperDay</th>
          <th> MeetingSpaceSize</th>
          <th> MeetingSpaceType</th>
          <th> Attdence</th>
          <th>BlockCode</th>
          <th>BlockStatus</th>
          <th>Pfid</th>
          <th>RateCodeId</th>
          <th>BlockName</th>
          <th>MarketId</th>
          <th>SourceId</th>
          <th>Owner</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let array of tableschanges | filterdata: Name :'block_name'|filterdata: BlockCode :'block_code'|filterdata: EndDate :'end_date'|filterdata: StartDate :'start_date';let i=index"
         (click)="selectMembersEdit( array,i)" [ngClass]="{'backGroundColor':i==selectindex}">
            <td>{{i+1}}</td>
            <td>{{array.block_id}}</td>
            <td>{{array.start_date}}</td>
            <td>{{array.nights}}</td>
            <td>{{array.end_date}}</td>
            <td>{{array.rooms_per_day}}</td>
            <td>{{array.meeting_space_size}}</td>
            <td>{{array.meeting_space_type}}</td>
            <td>{{array.attendess}}</td>
            <td>{{array.block_code}}</td>
            <td>{{array.block_status}}</td>
            <td>{{array.pf_id}}</td>
            <td>{{array.ratecode_id}}</td>
            <td>{{array.block_name}}</td>
            <td>{{array.market_id}}</td>
            <td>{{array.source_id}}</td>
            <td>{{array.owner}}</td>
            
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class ="container-fluid">
  <div class="row">
    <div class="col-md-2">
  <button class="btn btn-primary" style="width:100%">Extract</button>
</div>
<div class="col-md-2">
    <button class="btn btn-default" style="width:100%">Events</button>
  </div>
  <div class="col-md-2">
      <button class="btn btn-light"routerLink="/options"style="width:100%">Options</button>
    </div>
  <div class="col-md-2">
     <button class="btn btn-success"routerLink="/bcreate"style="width:100%">New</button>
  </div>
  <div class="col-md-2">
   <button class="btn btn-Warning"  data-toggle="modal" data-target="#myModal" style="width:100%">BlockStatus</button>
   </div>
 <div class="col-md-2">
   <button class="btn btn-Danger"style="width:100%">Close</button>
 </div>
</div>
</div>

</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog model-lg">
  
    <!-- Modal content-->
    <div class="modal-content"style="width:100%; margin-left:0%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Connect24*7</h4>
      </div>
      <div class="modal-body">
        <div class="continer-fluid">
          <div col-md-10>
            <div class="row">
              <div col-md-4>        <!-- <p align="center"><b>Are You sure want to Create Reservation</b></p> -->
        <div class="from-group" style="width:82%;margin-left: 43px;">
          <label for="name">BlockStatus</label>
          <select class="from-control class=input-sm" id="name"name="BlockStatus"style="width:150px; height: 5%;"[(ngModel)]="BlockStatus" (ngModelChange)="onSelect(BlockStatus)">
            <option *ngFor="let option of roomtype" 
            [ngValue]="option.id"> 
            {{option.status}}
    </option>
                     
          </select>

        </div>
      </div>
      </div>
      </div>
    </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" routerLink="">Yes <i class="glyphicon glyphicon-ok"></i></button>             
          <button type="button" class="btn btn-danger" data-dismiss="modal">NO<i class="glyphicon glyphicon-remove"></i></button>             
      </div>
    </div>
    </div>
  </div>
</div>


