<div class="row" style="width:99%;">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <br>
      <div class="container-fluid">
          <div class ="responsive-table">
              <table class="table table-bordered table-hover"style="margin-left: 26px;input-sm">
                <thead style="background-color: #0077B5;color:white;">
                  <tr>
                    <th>Conf.NO</th>
                    <th>Name</th>
                    <th> First</th>
                    <th> Title</th>
                    <th> Arrival</th>
                    <th> Deparcture</th>
                    <th> type</th>
                    <th> Rms</th>
                    <th> Adults</th>
                    <th>Cheild</th>
                    <th>Room</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>2</td>
                      <td>10/10/2018</td>
                      <td> Venki</td>
                      <td> Venki</td>
                      <td> 1</td>
                      <td> Clean</td>
                      <td> Na</td>
                      <td>10/11/2018</td>
                      <td>10</td>
                      <td>2</td>
                      <td>ac</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>10/10/2018</td>
                      <td> Venki</td>
                      <td> Venki</td>
                      <td> 1</td>
                      <td> Clean</td>
                      <td> Na</td>
                      <td>10/11/2018</td>
                      <td>10</td>
                      <td>2</td>
                      <td>ac</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>10/10/2018</td>
                      <td> Venki</td>
                      <td> Venki</td>
                      <td> 1</td>
                      <td> Clean</td>
                      <td> Na</td>
                      <td>10/11/2018</td>
                      <td>10</td>
                      <td>2</td>
                      <td>ac</td>
                  </tr>
                  <tr>
                      <td>5</td>
                      <td>10/10/2018</td>
                      <td> Venki</td>
                      <td> Venki</td>
                      <td> 1</td>
                      <td> Clean</td>
                      <td> Na</td>
                      <td>10/11/2018</td>
                      <td>10</td>
                      <td>2</td>
                      <td>ac</td>
                  </tr>
                  <tr>
                      <td>6</td>
                      <td>10/10/2018</td>
                      <td> Venki</td>
                      <td> Venki</td>
                      <td> 1</td>
                      <td> Clean</td>
                      <td> Na</td>
                      <td>10/11/2018</td>
                      <td>10</td>
                      <td>2</td>
                      <td>ac</td>
                  </tr>
                  <tr>
                      <td>7</td>
                      <td>20/07/2018</td>
                      <td>Raja</td>
                      <td> Raja</td>
                      <td> 2</td>
                      <td> Clean</td>
                      <td> None</td>
                      <td>10/11/2018</td>
                      <td>12</td>
                      <td>2</td>
                      <td>ac</td>
                  </tr>
                </tbody>
              </table>
            </div>
  
          
  </div>
  <div class="container-fluid">
    <div class="row">
      <form>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <label>Reservation</label>
            
                <div class="custom-control custom-radio" style="width:50%;zoom:1.0">
                  <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="customEx">
                  <label class="custom-control-label" for="customRadio">New</label>
                </div> 
              </div>
              <div class="col-md-1">
            <br>
                      <div class="custom-control custom-radio" style="margin-left:-130%;margin-top: 7px;width:50%;zoom:1.0">
                        <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="customEx">
                        <label class="custom-control-label" for="customRadio">All</label>
                      </div> 
                    
                  </div>
                  
                  <div class="col-md-4">
                    <label>Profile</label>
                      
                          <div class="custom-control custom-checkbox" style="zoom:1.0;">
                            <input type="checkbox"  class="custom-control-input" id="customCheck" name="example1">
                            <label class="custom-control-label" for="customCheck">Search Guest Profile</label>
                          </div>
                        </div>
                        </form>
               
      </div>
      </div>
      <div class="container-fluid">
        <br>
          <div class="row" style="margin-left: 10px;">
            <div class="col-md-2">
              <button class="btn btn-primary"routerLink="/profile" style="width:100%">Profile</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-info" style="width:100%">QuickSplit</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" style="width:100%">Grids</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-Danger" style="width:100%">BLock</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success" style="width:100%">save</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-Warning" style="width:100%">Close</button>
            </div> 

          </div>
          </div>
      </div>
            

