<div class="row" style="width:99%;">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <br>
      <div class="container-fluid">
          <div class ="table-responsive"style="width:100%;">
              <table class="table table-bordered table-hover"style="margin-left: 26px;input-sm">
                <thead style="background-color: #0077B5;color:white;">
                  <tr>
                    <th> Reservation_Id</th>                        
                    <th> Name</th>
                    <th> Room</th>
                    <th> Extension</th>
                    <th> Room_Type</th>
                    <th> Arrival_Date</th>
                    <th> Departure_Date</th>
                    <th> Nights</th>
                    <th> Status</th>
                    <th> Group</th>
                    <th> Adults</th>                        
                    <th> Child</th> 
                    <th> Rate_Code</th>
                    <th> Rate</th>
                    <th> Block_Code</th>
                    
                              
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let searched of searchandedit;let i=index;"
                  (click)="selectMembersEdit(searched,i)" [ngClass]="{'backGroundColor':i==selectindex}">
                  <td>{{i+1}}</td> 
                  <td> 2323</td>
                  <td>2323424</td>
                  <td> SAERASREWAR </td>
                  <td> AEAWERWWR </td>
                  <td>234242</td>
                  <td>232Q4234 </td> 
                  <td> QE3Q234 4 </td>
                  <td> Q3433243 </td>
                  <td>24324353 </td>
                  <td></td>     
                  <td> W343W434</td> 
                  <td> DGFDRG</td>     
                  <td> {{searched.res_rate_code}}</td>     
                  <td> {{searched.res_rate}}</td>     
                  <td> {{searched.res_block_code}}</td> 
                  <td> {{searched.res_packages}}</td>     
                  
                  </tr>
                  
                 
                </tbody>
              </table>
            </div>
  
          
  </div>
  <div class="container-fluid">
    <div class="row">
      <form>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <label>Reservation</label>
            
                <div class="custom-control custom-radio" style="width:50%;zoom:1.0">
                  <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="customEx">
                  <label class="custom-control-label" for="customRadio">New</label>
                </div> 
              </div>
              <div class="col-md-1">
            <br>
                      <div class="custom-control custom-radio" style="margin-left:-130%;margin-top: 7px;width:50%;zoom:1.0">
                        <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="customEx">
                        <label class="custom-control-label" for="customRadio">All</label>
                      </div> 
                    
                  </div>
                  
                  <div class="col-md-4">
                    <label>Profile</label>
                      
                          <div class="custom-control custom-checkbox" style="zoom:1.0;">
                            <input type="checkbox"  class="custom-control-input" id="customCheck" name="example1">
                            <label class="custom-control-label" for="customCheck">Search Guest Profile</label>
                          </div>
                        </div>
                        </form>
               
      </div>
      </div>
      <div class="container-fluid">
        <br>
          <div class="row" style="margin-left: 10px;">
            <div class="col-md-2">
              <button class="btn btn-primary"routerLink="/profile" style="width:100%">Profile</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-info" style="width:100%">QuickSplit</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" style="width:100%">Grids</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-Danger" style="width:100%">BLock</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success" style="width:100%">save</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-Warning" style="width:100%">Close</button>
            </div> 

          </div>
          </div>
      </div>
            

